@function rpx($px) {
    @return ($px * 100vw) / 750;
}

.center{
    margin-left:rpx(80);
    margin-right: rpx(80);
    text-align: center;
    margin-top:rpx(20);
  }
  .btn{
    margin-top:rpx(80);
    padding:rpx(20) rpx(60) rpx(20) rpx(60);
    background: rgba(255, 102, 0, 1);
    color:rgba(255, 255, 255, 1);
    font-size: rpx(30);
    border-radius: rpx(60);
  }