<ion-header>
      <ion-toolbar  color='primary'>
          <ion-buttons slot="start">
            <ion-button (click)='back()'>
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{heading}}</ion-title>
        </ion-toolbar>
  </ion-header>

    <ion-content >

        <img class="backhome" src="{{uploadpath}}resource/{{res.fanhui}}" (click)="backHome()" />

        <div class="height-150">
        </div>
        <div class="height-150"></div>
        
        <div *ngIf="shenhe.length==0">
          <div class="flex-row  ">
            <div class="flex-1"></div>
        
            <img class="icon-150" mode='widthFix' src='{{uploadpath}}resource/{{res.nofound}}' />
        
            <div class="flex-1"></div>
          </div>
          <div class="h4 text-center margin-top" style='color:rgba(255, 194, 0, 1)'>很抱歉,审核未通过</div>
          <div class="h4-5 center" style='color:rgba(153, 153, 153, 1);'>拒绝原因：您暂时不符合学榜大使的要求， 谢谢您的关注</div>
          <div class="flex-row ">
            <div class="flex-1"></div>
            <div (click)='chonxintijiao($event)' class="btn">重新提交申请</div>
            <div class="flex-1"></div>
          </div>
        </div>
        <div *ngIf="shenhe[0].status=='A'">
          <div class="flex-row  ">
            <div class="flex-1"></div>
        
            <img class="icon-150" mode='widthFix' src='{{uploadpath}}resource/{{res.chulizhon}}' />
        
            <div class="flex-1"></div>
          </div>
          <div class="h4 text-center margin-top" style='color:rgba(255, 194, 0, 1)'>正在火速处理中</div>
          <div class="h4-5 center" style='color:rgba(153, 153, 153, 1);'>学榜需要审核您的申请，在此期间你可以把课程分享给好友但无法获得金币。</div>
          <div class="flex-row ">
            <div class="flex-1"></div>
            <div (click)='tuiguan($event)' class="btn">前往大使中心</div>
            <div class="flex-1"></div>
          </div>
        </div>
        <div *ngIf="shenhe[0].status=='S'">
          <div class="flex-row  ">
            <div class="flex-1"></div>
        
            <img class="icon-150" mode='widthFix' src='{{uploadpath}}resource/{{res.yigoumaiimg}}' />
        
            <div class="flex-1"></div>
          </div>
          <div class="h4 text-center margin-top" style='color:rgba(255, 194, 0, 1)'>恭喜您成为学榜大使</div>
          <div class="h4-5 center" style='color:rgba(153, 153, 153, 1);'>现在邀请好友，即可赚取佣金</div>
          <div class="flex-row ">
            <div class="flex-1"></div>
            <div (click)='tuiguan($event)' class="btn">前往大使中心</div>
            <div class="flex-1"></div>
          </div>
        </div>


    </ion-content>
