@function rpx($px) {
    @return ($px * 100vw) / 750;
}

page{
    background: #F5F6F8;
    
    }
    .bg{
      background: white;
      border-radius: rpx(5);
    }
    
    .xian{
      border-bottom: 1px solid #F5F5F5;
      padding-bottom:rpx(40);
    }
    .xian1{
    padding-bottom:rpx(40);
    }
    .sbb{
      padding-bottom:rpx(0);
    }
    .lijishenqin{
    
    
      font-size: rpx(26);
      padding: rpx(6) rpx(20) rpx(6) rpx(20);
      color: rgba(255, 255, 255, 1);
      background: -webkit-linear-gradient(left, rgba(254, 215, 164, 1), rgba(235, 186, 124, 1));
      border-radius: rpx(26);
    
    
    }