@function rpx($px) {
    @return ($px * 100vw) / 750;
}

/* pages/pingcejieguo/pingcejieguo.wxss */
.again {
    width: 200rpx;
    height: 64rpx;
    line-height: 64rpx;
    border-radius: 42rpx;
    border: 2rpx solid black ;
  }
  
  .txt-9 {
    color: #999;
  }
  
  .top-block {
    height: 408rpx;
    padding: 40rpx;
  }
  
  .yuan {
    width: 284rpx;
    height: 284rpx;
    /* border: 2rpx solid black; */
  }
  .bottom-block {
    margin: 12rpx 24rpx 0rpx 24rpx;
  }
  .huangtiao {
    width: 8rpx;
    height: 28rpx;
    background: rgba(255, 194, 0, 1);
  }
  .margin-top-14 {
    margin-top: 14rpx;
  }
  .margin-left-16 {
    margin-left: 16rpx;
  }
  .margin-top-32{
    margin-top: 32rpx;
  }
  .margin-left-24{
    margin-left: 24rpx;
  }
  .margin-right-24{
    margin-right: 24rpx;
  }
  .icon-24{
    height: 24rpx;
    width: 24rpx;
  }
  .mk {
    background-color: white;
  }
  .kc_icon {
    width: 228rpx;
    height: 224rpx;
  }
  