<ion-header>
      <ion-toolbar  color='primary'>
          <ion-buttons slot="start">
            <ion-button (click)='back()'>
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{heading}}</ion-title>
        </ion-toolbar>
  </ion-header>

    <ion-content >


<!--pages/pingcejieguo/pingcejieguo.wxml-->
<img class="backhome" src="{{uploadpath}}resource/{{res.fanhui}}" (click)="backHome()" />
<div class='top-block  ' style='background-image:url({{uploadpath}}pingceindex/{{info.jieguotu}});background-size:100% 100%;'>


  <div class='flex-row flex-column '>

    <div class='flex-row flex-column yuan radius-50' style='background-image:url({{uploadpath}}resource/{{res.wanchen_gif}});background-size:100% 100%;'>
      <div class='flex-1 '></div>
      <div class='  h6'>测试结果</div>

      <div class=' text-center ' **ngFor'{{pingcejieguo}}' wx:key='k' **ngIf'{{item.options==typeA}}'>{{item.character}}</div>
      <div class=' text-center ' **ngFor'{{pingcejieguo}}' wx:key='k' **ngIf'{{item.options==typeB}}'>{{item.character}}</div>
      <div class=' text-center ' **ngFor'{{pingcejieguo}}' wx:key='k' **ngIf'{{item.options==typeC}}'>{{item.character}}</div>
      <div class=' text-center ' **ngFor'{{pingcejieguo}}' wx:key='k' **ngIf'{{item.options==typeD}}'>{{item.character}}</div>

      <div class='flex-1 '></div>

    </div>


    <div class='height-40'></div>

    <div class=' again text-center  ' bindtap='again'>重新测试</div>

  </div>

</div>



<div class='bottom-block bg-white padding-20 radius-8 margin-top-32'>

  <div class='flex-row flex-center'>
    <div class='huangtiao'></div>
    <div class='h5 txt-bold margin-left-16'>综合结论</div>
  </div>

  <!-- <text class='margin-top-14 h6 txt-6' style=''>
    {{item.jielun}}
  </text> -->

  <div class='margin-top-14'>
    <text class=' h6 txt-6' **ngFor'{{pingcejieguo}}' wx:key='k' **ngIf'{{item.options==typeA}}'>{{item.jielun}}</text>
    <text class=' h6 txt-6' **ngFor'{{pingcejieguo}}' wx:key='k' **ngIf'{{item.options==typeB}}'>{{item.jielun}}</text>
    <text class=' h6 txt-6' **ngFor'{{pingcejieguo}}' wx:key='k' **ngIf'{{item.options==typeC}}'>{{item.jielun}}</text>
    <text class=' h6 txt-6' **ngFor'{{pingcejieguo}}' wx:key='k' **ngIf'{{item.options==typeD}}'>{{item.jielun}}</text>
  </div>


</div>






<div **ngIf'{{xianshilist.length>0}}'>
  <div class='margin-top-32 margin-left-24 flex-row flex-center'>
    <div class='huangtiao'></div>
    <div class='h5 txt-bold margin-left-16 flex-1'>推荐课程</div>
    <div bindtap='bindhuan' class='flex-row flex-center'>
      <img src='{{uploadpath}}resource/{{res.huanyihuan}}' class='icon-24' />
      <div class=' h6 margin-left-10 margin-right-24' style='color:#589DE9'>换一换</div>
    </div>
  </div>

  <div class='bottom-block  radius-8 ' **ngFor'{{xianshilist}}' wx:key='a' id='{{item.id}}' wx:for-index='idx' bindtap='tokcdetails'>

    <div class=' margin-top-10 '>
      <div class='padding-20 flex-row radius-10  mk' style='border:1rpx solid white '>
        <img class='kc_icon radius-10 ' src='{{uploadpath}}curriculum/{{item.kc_img}}' />
        <div class='flex-row column   margin-left-20 flex-1'>
          <div class='txt-bold  flex-1 chaochu' style='color:#000000'>{{item.name}}</div>

          <div class='flex-row flex-center'>


            <div **ngIf"{{item.scoring==5}}" class='flex-row flex-center '>
              <img **ngFor'{{5}}' src='{{uploadpath}}resource/{{res.star}}' class='margin-left-5' style='height:20rpx;width:20rpx;' />
            </div>

            <div **ngIf"{{item.scoring==4}}" class='flex-row flex-center '>
              <img **ngFor'{{4}}' src='{{uploadpath}}resource/{{res.star}}' class='margin-left-5' style='height:20rpx;width:20rpx;' />
              <img src='{{uploadpath}}resource/{{res.star_null}}' class='margin-left-5' style='height:20rpx;width:20rpx;' />
            </div>

            <div **ngIf"{{item.scoring==3}}" class='flex-row flex-center '>
              <img **ngFor'{{3}}' src='{{uploadpath}}resource/{{res.star}}' class='margin-left-5' style='height:20rpx;width:20rpx;' />
              <img **ngFor'{{2}}' src='{{uploadpath}}resource/{{res.star_null}}' class='margin-left-5' style='height:20rpx;width:20rpx;' />
            </div>

            <div **ngIf"{{item.scoring==2}}" class='flex-row flex-center '>
              <img **ngFor'{{2}}' src='{{uploadpath}}resource/{{res.star}}' class='margin-left-5' style='height:20rpx;width:20rpx;' />
              <img **ngFor'{{3}}' src='{{uploadpath}}resource/{{res.star_null}}' class='margin-left-5' style='height:20rpx;width:20rpx;' />
            </div>

            <div **ngIf"{{item.scoring==1}}" class='flex-row flex-center '>
              <img src='{{uploadpath}}resource/{{res.star}}' class='margin-left-5' style='height:20rpx;width:20rpx;' />
              <img **ngFor'{{4}}' src='{{uploadpath}}resource/{{res.star_null}}' class='margin-left-5' style='height:20rpx;width:20rpx;' />
            </div>

            <div class='h6 flex-1 margin-left-20 txt-primary'>{{item.people_num}}人购课</div>
          </div>

          <div class='flex-row flex-center flex-1' style=''>

            <div class='flex-row flex-center flex-1'>
              <img src='{{uploadpath}}resource/{{res.age_icon}}' class='icon-10' />
              <div class='h6  margin-left-5 ' style='color:#000000'>{{item.age_name}}</div>
            </div>

            <div class='flex-row flex-center flex-1'>
              <img src='{{uploadpath}}resource/{{res.keshi}}' class='icon-10' />
              <div class='h6  margin-left-5' style='color:#000000'>{{item.class_hours}}节课</div>
            </div>

            <div class='flex-row flex-center flex-1'>
              <img src='{{uploadpath}}resource/{{res.time}}' class='icon-10' />
              <div class='h6  margin-left-5' style='color:#000000'>{{item.duration}}/节</div>
            </div>

          </div>

          <div class='flex-row flex-center flex-1'>
            <img class='icon-10  ' src='{{uploadpath}}resource/{{res.jg_icon}}' />
            <div class='h6 flex-1 txt-white margin-left-5 chaochu' style='color:#AAAAAA'>{{item.JG_jigou}}</div>
            <div   class=' txt-red txt-bold'>￥{{item.zuidijia}}</div>
            
          </div>

          <div class='flex-row flex-center'>
            <div class='h6  flex-1 chaochu' style='color:#AAAAAA'>{{item.JG_showaddress}}</div>
            <div class='h6   ' style='color:#AAAAAA'>{{item.miletxt}}</div>
          </div>

        </div>


      </div>
    </div>

  </div>

</div>





<div style="height:50rpx"></div>

    </ion-content>
