<ion-header>
      <ion-toolbar  color='primary'>
          <ion-buttons slot="start">
            <ion-button (click)='back()'>
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{heading}}</ion-title>
        </ion-toolbar>
  </ion-header>

    <ion-content >



<!--pages/personaldata/personaldata.wxml-->

<div class='bg-primary'>

    <div class='height-20'></div>
  
    <div class=' flex-row flex-column   ' style='width:100%'>
      <img class='icon-60 radius-50  ' style='border:2px solid #CECFCE' src='{{MemberInfo.avatarUrl}}' />
      <div class='txt-black  txt-bold margin-top-20'>{{MemberInfo.nickName}}</div>
    </div>
  
    <div class='h30' style=''></div>
    <div class='height-20'></div>
  
  </div>
  
  
  <form #form="ngForm" (ngSubmit)="confirm(form)">
  
    <div class='height-20 '>
    </div>
    <!-- <div class='padding-30  bg-white' style=''>
      <div class='flex-row flex-center '>
        <div class='font-30 flex-1 txt-black txt-bold'>昵称</div>
        <input class=' flex-2' name='name' style='' placeholder-style='color:#C8C8C8' maxlength='15' value='{{MemberInfo.name}}' placeholder='请填写昵称' />
      </div>
    
    </div>
    <div class='margin-left-20' style='background:#f5f5f5;height:1px'></div> -->
  
  
  
    <div class='padding-30 bg-white' style=''>
      <div class='flex-row flex-center '>
        <div class='font-30 flex-1 txt-black txt-bold'>手机号：</div>
        <input class=' flex-2' type='number' placeholder-style='color:#C8C8C8' style=''  [(ngModel)]="formdata.mobile" name='mobile' value='{{MemberInfo.mobile}}' placeholder='请填写联系电话' />
      </div>
      <!--bor_bak -->
    </div>
  
    <div class='margin-left-20' style='background:#f5f5f5;height:1px'></div>
  
  
    <div class='padding-30 bg-white' style=''>
      <div class='flex-row flex-center '>
        <div class='font-30 flex-1 txt-black txt-bold'>性别：</div>
  
        <div class='flex-2 flex-row flex-center'>
  
          <div class='flex-row flex-center '>
            <img *ngIf='show==1' src='{{uploadpath}}resource/{{res.weixuan}}' (click)='bindcheck($event)' data-sex='M' class='icon-15' />
            <img *ngIf='show==2' src='{{uploadpath}}resource/{{res.xuanzhong}}' (click)='bindcheck($event)' class='icon-15' data-sex='M' class='icon-15' />
            <div class='h5 margin-left-10'>先生</div>
          </div>
  
          <div class='icon-30' style=''></div>
  
          <div class='flex-row flex-center'>
            <img *ngIf='show==2' src='{{uploadpath}}resource/{{res.weixuan}}' (click)='bindcheck($event)' data-sex='W' class='icon-15' />
            <img *ngIf='show==1' src='{{uploadpath}}resource/{{res.xuanzhong}}' (click)='bindcheck($event)' class='icon-15' data-sex='W' class='icon-15' />
            <div class='h5 margin-left-10'>女士</div>
          </div>
  
        </div>
  
      </div>
    </div>
  
  
    <div class='margin-left-20' style='background:#f5f5f5;height:1px'></div>
  
  
    <div class='padding-30 bg-white' style=''>
      <div class='flex-row flex-center '>
        <div class='font-30 flex-1 txt-black txt-bold'>地址：</div>
        <picker class='flex-2' mode="region" bindchange="bindRegionChange" value="{{region}}" custom-item="{{customItem}}">
          <div class="picker" style='color:#C8C8C8' *ngIf="region.length==0" >请填写地址
          </div>
          <div class="picker"  *ngIf="region.length>0" >{{region[0]}} {{region[1]}} {{region[2]}}</div>
        </picker>
      </div>
      <!--bor_bak -->
    </div>
    <div class='margin-left-20 ' style='background:#f5f5f5;height:1px'></div>
  
    <div class='padding-30 bg-white' style=''>
      <div class='flex-row flex-center '>
        <div class='font-30 flex-1 txt-black txt-bold'>门牌号：</div>
        <input class=' flex-2' style='' placeholder-style='color:#C8C8C8' name='housenum' value='{{mydata.house_num}}' placeholder='请填写门牌号' />
      </div>
      <!--bor_bak -->
    </div>
    <div class='height-80' style=''></div>
  
    <button class='btn_bg margin-40 txt-white' form-type='submit' hover-class='bg_hov'>保存</button>
  
  </form>

  
    </ion-content>
