<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{heading}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!--pages/myorder/myorder.wxml-->
  <img class="backhome" src="{{uploadpath}}resource/{{res.fanhui}}" (click)="backHome()" />
  <div class=' flex-row flex-center  bg-white bor_bot top'>


    <div class='xiaoxi'>
      <div **ngIf===="{{dflist.length>0}}" class='waitpay '>{{dflist.length}}</div>
    </div>

  </div>





  <div **ngIf===='{{wclist.length==0}}' class="flex-row flex-column">
    <div class="h100"></div>
    <img src="{{uploadpath}}resource/{{res.dindannull}}" class="icon-170 " />

  </div>

  <div bindtap="kechenxianqin($event)" data-id="{{item.onlineclassroom_id}}" class="margin-24 order" **ngFor===="{{wclist}}"
    **ngIf===="{{item.pstatus=='PT'}}" wx:key='k'>


    <div class="padding-20 flex-row ">

      <img **ngIf===="{{item.type!='SP'}}" class='icon radius-10' lazy-load='{{true}}'
        src='{{uploadpath}}curriculum/{{item.course_kc_img}}' />

      <img **ngIf===="{{item.type=='SP'}}" class='icon radius-10' lazy-load='{{true}}'
        src='{{uploadpath}}onlineclassroom/{{item.onlineclassroom_img}}' />

      <div class="margin-left-20 flex-1">
        <div class="flex-row flex-center ">
          <div **ngIf===="{{item.type!='SP'}}">{{item.course_name}}</div>
          <div **ngIf===="{{item.type=='SP'}}">{{item.onlineclassroom_name}}</div>

          <div class="flex-1"></div>
          <img **ngIf===="{{item.pstatus=='P'||item.pstatus=='U'||item.pstatus=='R'}}" class='yiwanchen '
            lazy-load='{{true}}' src='{{uploadpath}}resource/{{res.yiwanchen}}' />
          <div class="h6 " style="color:#FF5252" **ngIf===="{{item.pstatus=='W'||item.pstatus=='PT'||item.pstatus=='C'}}">
            {{item.pstatus_name}}</div>
        </div>

        <div **ngIf===="{{item.type!='SP'}}" class=' txt-gray f-22 margin-top-5  '>{{item.course_jigouname}}</div>
        <div **ngIf===="{{item.type=='SP'}}" class=' txt-gray f-22 margin-top-5  height-40 '>
          {{item.onlineclassroom_class_introduce }}</div>

        <div **ngIf===="{{item.type!='SP'}}" class='flex-row flex-center  margin-top-5' style=''>

          <div class='flex-row flex-center '>
            <img src='{{uploadpath}}resource/{{res.age_icon}}' class='icon-10' />
            <div class='h6 txt-black margin-left-5'>{{item.course_age_name}}</div>
          </div>

          <div class='w20'></div>

          <div class='flex-row flex-center '>
            <img src='{{uploadpath}}resource/{{res.keshi}}' class='icon-10' />
            <div class='h6 txt-black margin-left-5'>{{item.course_class_hours}}</div>
          </div>

          <div class='w20'></div>


          <div class='flex-row flex-center '>
            <img src='{{uploadpath}}resource/{{res.time}}' class='icon-10' />
            <div class='h6 txt-black margin-left-5'>{{item.course_duration}}</div>
          </div>


        </div>
        <div **ngIf===="{{item.type=='SP'}}" class='flex-row flex-center  margin-top-5' style=''>

          <div class='flex-row flex-center '>
            <img src='{{uploadpath}}resource/{{res.nianlin}}' class='icon-10' />
            <div class='h6 txt-black margin-left-5'>{{item.onlineclassroom_age_name}}</div>
          </div>

          <div class='w20'></div>

          <div class='flex-row flex-center '>
            <img src='{{uploadpath}}resource/{{res.zhanjie}}' class='icon-10' />
            <div class='h6 txt-black margin-left-5'>{{item.onlineclassroom_chapter_num}}</div>
          </div>

          <div class='w20'></div>




        </div>
        <div class="hkg ">
          <div class='flex-row margin-top-10 flex-center'>
            <div **ngIf===="{{item.type=='PT'}}" class='pt'>拼团</div>
            <div class="flex-1"></div>
          </div>
        </div>
        <div class="flex-row flex-center ">
          <div class="flex-1"></div>
          <div class="f-22">共1个课程 实付款:</div>
          <div class="h5 txt-bold" style="color:#FF6600">￥{{item.amount}}</div>
        </div>


      </div>

    </div>



  </div>

</ion-content>