@function rpx($px) {
    @return ($px * 100vw) / 750;
}

/* pages/wuliu/wuliu.wxss */

Page {
    background: white;
  }
  
  .margin-left-34 {
    margin-left: rpx(34);
  }
  
  .padding-22 {
    padding-top: rpx(22);
    padding-bottom: rpx(22);
    border-bottom: rpx(2) solid #f5f5f5;
  }
  .margin-top-6{
    margin-top: rpx(6);
  }
  .icon_logo {
    width: rpx(120);
    height: rpx(120);
    border-radius: rpx(2);
  }
  .padding_top{
    padding: rpx(40) rpx(40) rpx(40) rpx(34);
  }
  