<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img class="icon-20 inactive" style='margin-top:5px;' src="assets/icon/sy.png" />
      <img class="icon-20 active" style='margin-top:5px;' src="assets/icon/sy1.png" />
      <ion-label class="f12" style='margin-top:5px;'>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="baoma">
      <img class="icon-20 inactive" style='margin-top:5px;' src="assets/icon/bm.png" />
      <img class="icon-20 active" style='margin-top:5px;' src="assets/icon/bm1.png" />
      <ion-label class="f12" style='margin-top:5px;'>宝妈必看</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="teacher">
      <img class="icon-20 inactive" style='margin-top:5px;' src="assets/icon/ms.png" />
      <img class="icon-20 active" style='margin-top:5px;' src="assets/icon/ms1.png" />
      <ion-label class="f12" style='margin-top:5px;'>名师专访</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="xianxia">
      <img class="icon-20 inactive" style='margin-top:5px;' src="assets/icon/hd.png" />
      <img class="icon-20 active" style='margin-top:5px;' src="assets/icon/hd1.png" />
      <ion-label class="f12" style='margin-top:5px;'>线下活动</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mine">
      <img class="icon-20 inactive" style='margin-top:5px;' src="assets/icon/wd.png" />
      <img class="icon-20 active" style='margin-top:5px;' src="assets/icon/wd1.png" />
      <ion-label class="f12" style='margin-top:5px;'>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>