<!--pages/shopinfo/shopinfo.wxml-->
<ion-header>
  <ion-toolbar  color='primary'>
      <ion-buttons slot="start">
        <ion-button (click)='back()'>
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>提交订单</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="t1 text-center">
    {{info.paytype=='X'?"已成功购买":"兑换已完成"}}
    </div>
    
    <div class="t2 text-center text-center">
    {{info.name}}
    </div>
    <div class="text-center">
      <img class="pt" mode="widthFix" src="{{uploadpath}}resource/{{res.yigoumaiimg}}" />
    </div>
    <div class="t3">
      <div class="flex-row">
        <div style="width:24px"></div>
        <div class="flex-row flex-center flex-1 btn" (click)="gotoOrder()">
          <div class="flex-1"></div>
          <div>查看我的订单</div>
          <div class="flex-1"></div>
        </div>
        <div style="width:10px"></div>
        <div class="flex-row flex-center flex-1 btn" (click)="backHome()">
          <div class="flex-1"></div>
          <div>继续购买</div>
          <div class="flex-1"></div>
        </div>
        <div style="width:24px"></div>
      </div>
    </div>

</ion-content>