<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>添加机构</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink=''>Home</a></li>
                        <li class="breadcrumb-item"><a routerLink='/jigou'>机构列表</a></li>
                        <li class="breadcrumb-item active">添加机构</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header bg-gray-d">
                            <h3 class="card-title">添加机构</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" id="quickForm">
                            <div class="card-body">

                                <div class="row">
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label col-form-label-sm">机构名称</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label col-form-label-sm">营业时间</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label col-form-label-sm">机构封面图</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3"
                                            class=" col-form-label col-form-label-sm">无视频显示图</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label col-form-label-sm">机构视频</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label col-form-label-sm">机构介绍</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3"
                                            class=" col-form-label col-form-label-sm">不显示视频简介</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">省</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">市</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">区</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">街道</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">地址</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">显示地址</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">标签</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">背景色</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">限购数量(0不限)</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">搜索关键字</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">长图</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">适合年龄</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">是否开启分销</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-12 col-md-12  col-sm-12">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">机构轮播图列表</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                    <div class="form-group  col-lg-12 col-md-12  col-sm-12">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">核销人列表</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            placeholder="Email" />
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->