<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{primary_id>0?'编辑机构':'添加机构'}}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink=''>Home</a></li>
                        <li class="breadcrumb-item"><a routerLink='/jigou'>机构列表</a></li>
                        <li class="breadcrumb-item active">{{primary_id>0?'编辑机构':'添加机构'}}</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header bg-gray-d">
                            <h3 class="card-title">{{primary_id>0?'编辑机构':'添加机构'}}</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" id="quickForm">
                            <div class="card-body">

                                <div class="row">
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label col-form-label-sm">机构名称</label>
                                        <input type="text" class="form-control form-control-sm" id="inputEmail3"
                                            name='name' [(ngModel)]='jgdetail.jigou' placeholder="必填项"/>
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label col-form-label-sm">营业时间</label>
                                        <input type="text" class="form-control form-control-sm" id="inputEmail3"
                                            name='time' [(ngModel)]='jgdetail.time' />
                                    </div>
                                    <!-- <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label col-form-label-sm">二维码</label>
                                        <nz-upload class="avatar-uploader"
                                            nzAction="{{uploadapi}}?module=mechanism&field=file&rettype=json"
                                            nzListType="picture-card" [nzShowUploadList]="false"
                                            (nzChange)="afteruploads($event)">
                                            <ng-container *ngIf="!jgdetail.qrcode">
                                                <i class="upload-icon" nz-icon
                                                    [nzType]="loading ? 'loading' : 'plus'"></i>
                                                <div class="ant-upload-text">Upload</div>
                                            </ng-container>
                                            <img *ngIf="jgdetail.qrcode!=''"
                                                src="{{uploadpath}}mechanism/{{jgdetail.qrcode}}" style="width: 100%" />
                                        </nz-upload>
                                    </div> -->
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label col-form-label-sm">机构封面图</label>
                                        <nz-upload class="avatar-uploader"
                                            nzAction="{{uploadapi}}?module=mechanism&field=file&rettype=json"
                                            nzListType="picture-card" [nzShowUploadList]="false"
                                            (nzChange)="afterupload($event)">
                                            <ng-container *ngIf="!jgdetail.jg_img">
                                                <i class="upload-icon" nz-icon
                                                    [nzType]="loading ? 'loading' : 'plus'"></i>
                                                <div class="ant-upload-text">Upload</div>
                                            </ng-container>
                                            <img *ngIf="jgdetail.jg_img!=''"
                                                src="{{uploadpath}}mechanism/{{jgdetail.jg_img}}" style="width: 100%" />
                                        </nz-upload>
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3"
                                            class=" col-form-label col-form-label-sm">无视频显示图</label>
                                        <nz-upload class="avatar-uploader"
                                            nzAction="{{uploadapi}}?module=mechanism&field=file&rettype=json"
                                            nzListType="picture-card" [nzShowUploadList]="false"
                                            (nzChange)="afterupload2($event)">
                                            <ng-container *ngIf="!jgdetail.waitimg">
                                                <i class="upload-icon" nz-icon
                                                    [nzType]="loading ? 'loading' : 'plus'"></i>
                                                <div class="ant-upload-text">Upload</div>
                                            </ng-container>
                                            <img *ngIf="jgdetail.waitimg!=''"
                                                src="{{uploadpath}}mechanism/{{jgdetail.waitimg}}" style="width: 100%" />
                                        </nz-upload>
                                    </div>
                                   
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label col-form-label-sm">机构介绍</label>
                                        <textarea class="form-control form-control-sm" id="inputEmail3" name='jieshao'
                                            [(ngModel)]='jgdetail.jieshao' cols="30" rows="5"></textarea>
                                    </div>

                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label col-form-label-sm">机构视频</label>
                                        <nz-upload class="avatar-uploader"
                                            nzAction="{{uploadapi}}?module=mechanism&field=file&rettype=json"
                                            nzListType="picture-card" [nzShowUploadList]="false"
                                            (nzChange)="afterupload3($event)">
                                            <ng-container *ngIf="!jgdetail.jg_video">
                                                <i class="upload-icon" nz-icon
                                                    [nzType]="loading ? 'loading' : 'plus'"></i>
                                                <div class="ant-upload-text">Upload</div>
                                            </ng-container>
                                            <video *ngIf="jgdetail.jg_video!=''"
                                                src="{{uploadpath}}mechanism/{{jgdetail.jg_video}}"
                                                style="width: 100%" controls='controls'></video>
                                        </nz-upload>
                                    </div>

                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8 flex-row2 flex-center2">
                                        <label for="inputEmail3"
                                            class=" col-form-label col-form-label-sm">不显示视频简介</label>
                                        <div class="switch margin-left-10" (click)='changestatus()'>
                                            <input type="checkbox" id='inputEmail3' checked
                                                *ngIf='jgdetail.novideosummary_value=="Y"'>
                                            <input type="checkbox" id='inputEmail3'
                                                *ngIf='jgdetail.novideosummary_value!="Y"'>
                                            <div class="slider round"></div>
                                        </div>
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">省</label>
                                        <select name="shen" class="form-control form-control-sm" id="inputEmail3"
                                            [(ngModel)]='jgdetail.province_id' (ngModelChange)='packagTypeChange()'>
                                            <option value="">请选择</option>
                                            <option value="{{item.id}}" *ngFor='let item of province'>{{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">市</label>
                                        <select name="shi" class="form-control form-control-sm" id="inputEmail3"
                                            [(ngModel)]='jgdetail.city_id' (ngModelChange)='packagTypeChange2()'>
                                            <option value="">请选择</option>
                                            <option value="{{item.id}}" *ngFor='let item of city'>{{item.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">区</label>
                                        <select name="qu" class="form-control form-control-sm" id="inputEmail3"
                                            [(ngModel)]='jgdetail.district_id' (ngModelChange)='packagTypeChange3()'>
                                            <option value="">请选择</option>
                                            <option value="{{item.id}}" *ngFor='let item of district'>{{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">街道</label>
                                        <select name="jiedao" class="form-control form-control-sm" id="inputEmail3"
                                            [(ngModel)]='jgdetail.street_id' (ngModelChange)='packagTypeChange4()'>
                                            <option value="">请选择</option>
                                            <option value="{{item.id}}" *ngFor='let item of street'>{{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">地址</label>
                                        <input type="text" class="form-control form-control-sm" id="inputEmail3"
                                            name='address' [(ngModel)]='jgdetail.address' />
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">显示地址</label>
                                        <input type="text" class="form-control form-control-sm" id="inputEmail3"
                                            name='showaddress' [(ngModel)]='jgdetail.showaddress' placeholder="必填项"/>
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">上线时间</label>
                                        <input type="date" class="form-control form-control-sm" id="inputEmail3"
                                            name='up_time' [(ngModel)]='jgdetail.up_time' placeholder="必填项"/>
                                    </div>
                                    <div class="form-group  col-lg-12 col-md-12  col-sm-12">
                                        <label for="inputEmail" class=" col-form-label  col-form-label-sm">标签
                                            <!-- <img src="{{uploadpath}}resource/{{quanlabels?res.xuanzhon:res.xuanze}}"
                                            class="icon-15" (click)='quanxuan()'/> -->
                                        </label>
                                        <div class="flex-row2 flex-wrap2">
                                            <div class="flex-row2 flex-center2 margin-right-10"
                                                *ngFor='let item of label' (click)='ischeckbox(item)'>
                                                <img src="{{uploadpath}}resource/{{jgdetail.labels.indexOf(item.id)>-1?res.xuanzhon:res.xuanze}}"
                                                    class="icon-15" />
                                                <div>{{item.name}}</div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">背景色</label>
                                        <div class="form-control form-control-sm flex-row2">
                                            <input type="text" id="inputEmail3" class="flex-1" name='bgcolor'
                                                [(ngModel)]='jgdetail.bgcolor' />
                                            <input type="color" name='bgcolor' [(ngModel)]='jgdetail.bgcolor'
                                                id='bgcolor' />
                                        </div>

                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3"
                                            class=" col-form-label  col-form-label-sm">限购数量(0不限)</label>
                                        <input type="number" class="form-control form-control-sm" id="inputEmail3"
                                            name='limitcount' [(ngModel)]='jgdetail.limitcount' />
                                    </div>
                                    <div class="form-group  col-lg-12 col-md-12  col-sm-12">
                                        <label for="inputEmail3"
                                            class=" col-form-label  col-form-label-sm">搜索关键字</label>
                                        <textarea class="form-control form-control-sm" id="inputEmail3"
                                            name='searchkeyword' [(ngModel)]='jgdetail.searchkeyword' cols="30"
                                            rows="3" placeholder="必填项"></textarea>
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">长图</label>
                                        <nz-upload class="avatar-uploader"
                                            nzAction="{{uploadapi}}?module=mechanism&field=file&rettype=json"
                                            nzListType="picture-card" [nzShowUploadList]="false"
                                            (nzChange)="afterupload4($event)">
                                            <ng-container *ngIf="!jgdetail.longimg">
                                                <i class="upload-icon" nz-icon
                                                    [nzType]="loading ? 'loading' : 'plus'"></i>
                                                <div class="ant-upload-text">Upload</div>
                                            </ng-container>
                                            <img *ngIf="jgdetail.longimg!=''"
                                                src="{{uploadpath}}mechanism/{{jgdetail.longimg}}" style="width: 100%" />
                                        </nz-upload>
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3" class=" col-form-label  col-form-label-sm">适合年龄</label>
                                        <input type="email" class="form-control form-control-sm" id="inputEmail3"
                                            name='jg_age' [(ngModel)]='jgdetail.jg_age' placeholder="必填项"/>
                                    </div>
                                    <div class="form-group  col-lg-6 col-md-7  col-sm-8">
                                        <label for="inputEmail3"
                                            class=" col-form-label  col-form-label-sm">是否开启分销</label>
                                        <div class="switch margin-left-10" (click)='changestatus2()'>
                                            <input type="checkbox" id='inputEmail3' checked
                                                *ngIf='jgdetail.isfenxiao_value=="Y"'>
                                            <input type="checkbox" id='inputEmail3' *ngIf='jgdetail.isfenxiao_value!="Y"'>
                                            <div class="slider round"></div>
                                        </div>
                                    </div>

                                        <div class="form-group   col-lg-12 col-md-12  col-sm-12"
                                            style="overflow-x: auto;">
                                            <label for="inputEmail3"
                                                class=" col-form-label col-form-label-sm">机构轮播图列表</label>
                                            <table class="table text-center h5" style="min-width: 768px;">
                                                <thead>
                                                    <tr>
                                                        <th width='22%' class="bor-l">顺序 </th>
                                                        <th width='22%' class="bor-l">图片</th>
                                                        <th width='12%' class="bor-l bor-r">
                                                            <img src="{{uploadpath}}resource/{{res.jiabg}}" class="icon-20" (click)='jiabgimg()'/>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor='let item of bgimg;let i=index'>
                                                    <tr *ngIf='item.status!="D"'>
                                                        <td class="bor-l bor-b"><input type="text" name="item.seq+{{i}}" [(ngModel)]='item.seq'></td>
                                                        <td class="bor-l bor-b">  <nz-upload class="avatar-uploader"
                                                            nzAction="{{uploadapi}}?module=jigouimg&field=file&rettype=json"
                                                            nzListType="picture-card" [nzShowUploadList]="false"
                                                            (nzChange)="afterupload5($event,item)" style="width: auto;">
                                                            <ng-container *ngIf="!item.img">
                                                                <i class="upload-icon" nz-icon
                                                                    [nzType]="loading ? 'loading' : 'plus'"></i>
                                                                <div class="ant-upload-text">Upload</div>
                                                            </ng-container>
                                                            <img *ngIf="item.img!=''"
                                                                src="{{uploadpath}}jigouimg/{{item.img}}" style="width: 100%" />
                                                        </nz-upload></td>
                                                        <td class="bor-l bor-r bor-b">
                                                            <img src="{{uploadpath}}resource/{{res.jianbg}}" class="icon-20" (click)='jianbgimg(item,i)'/>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- <div class="form-group   col-lg-12 col-md-12  col-sm-12"
                                        style="overflow-x: auto;">
                                        <label for="inputEmail3"
                                            class=" col-form-label col-form-label-sm">核销人列表</label>
                                        <table class="table text-center h5" style="min-width: 768px;">
                                            <thead>
                                                <tr>
                                                    <th width='22%' class="bor-l">微信用户 </th>
                                                    <th width='12%' class="bor-l bor-r">
                                                        <img src="{{uploadpath}}resource/{{res.jiabg}}" class="icon-20" (click)='jiahexiao()'/>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor='let item of hexiao;let i=index'>
                                                <tr *ngIf='item.status!="D"'>
                                                    <td class="bor-l bor-b"><input type="text" name="item.seq+{{i}}" [(ngModel)]='item.member_id'></td>
                                                    <td class="bor-l bor-r bor-b">
                                                        <img src="{{uploadpath}}resource/{{res.jianbg}}" class="icon-20" (click)='jianhexiao(item,i)'/>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div> -->

                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary" (click)='submit()'>提交</button>
                                <button type="submit" class="btn bg-gray margin-left-20" (click)='back()'>返回</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<div class="modal fade" id='saoma'>
    <div class="modal-dialog">
      <div class="modal-content margin-top-ban">
        <div class="modal-body text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <div>
            <div class="modal-title margin-top-10 h5">
                需要缴纳保证金入驻平台才可以添加机构哦<br>
                您可以通过微信“扫一扫”扫描下方二维码
                查看前台展示效果哦~</div>
            
            </div>
              <div>
                  <img src="{{uploadpath}}resource/{{res.kehuweixin}}" class="icon-100 margin-top-20 margin-bottom-40">
              </div>

              <div class="h5"><a routerLink='/service'>知道了，马上去入驻 >></a></div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->