<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{heading}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <img class="backhome" src="{{uploadpath}}resource/{{res.fanhui}}" (click)="backHome()" />
  <div
    style='background-image:url({{uploadpath}}resource/{{res.huodonbg}}?x-oss-process=style/test_img);background-size:100% 100%;'>
    <img class="tmbg" mode="widthFix" style="width:100vw"
      src="{{uploadpath}}activity/{{huodoninfo.activity_detail_top}}" />
    <div class="flex-row   flex-center">

      <div class="flex-1"></div>

      <div class="conten">

        <div class="padding-20 flex-row  ">

          <img src="{{uploadpath}}activity/{{huodoninfo.activity_detail_top}}" class="wh220" />

          <div class="padding-20">
            <div class="flex-1"></div>
            <div class="txt-bold w350" >{{huodoninfo.activityName}}</div>

          </div>


        </div>
        <div class="padding-20">
          <div class="flex-row  flex-center">
            <div class="f-22" style="color:#555555">时间</div>
            <div class="f-26 txt-bold margin-left-10" style="color:#555555">{{huodoninfo.activityTime}}</div>

          </div>
          <div class="flex-row  flex-center margin-top-20">
            <div class="f-22" style="color:#555555">地址:</div>
            <div class="f-26 txt-bold margin-left-10" style="color:#555555">{{huodoninfo.activitySite}}</div>
          </div>

        </div>


        <div class="toupiao">报名截止时间： {{huodoninfo.apply_endTime}} 23:59</div>

        <div class="padding-20  margin-top-20">
          <div class="txt-bold text-center">参赛信息</div>


          <div class='padding-mid' style=''>
            <div class='flex-row flex-center '>
              <div class='jl' style='color:#FF5252'>*</div>
              <div class='font-30   txt-black margin-left-10 width-210'>节目名称：</div>
              <input class='  ' placeholder-class='pc' name='jigou' [(ngModel)]='minchen' style=''
                placeholder='请填写节目名称' />
            </div>
          </div>
          <div class='padding-mid' style=''>
            <div class='flex-row flex-center '>
              <div class='jl' style='color:#FF5252'>*</div>
              <div class='font-30   txt-black margin-left-10 width-210'>节目人数：</div>
              <input class=' ' type='number' placeholder-class='pc' [(ngModel)]="renshu" name='jigou' style=''
                placeholder='请填写节目人数' />
            </div>
          </div>
          <div class='padding-mid' style=''>
            <div class='flex-row flex-center '>
              <div class='jl' style='color:#FF5252'>*</div>
              <div class='font-30   txt-black margin-left-10 width-210'>带队老师：</div>
              <input class='  ' placeholder-class='pc' [(ngModel)]="laoshi" name='jigou' style=''
                placeholder='请填写带队老师' />
            </div>
          </div>
          <div class='padding-mid' style=''>
            <div class='flex-row flex-center '>
              <div class='jl' style='color:#FF5252'>*</div>
              <div class='font-30   txt-black margin-left-10 width-210'>联系方式：</div>
              <input class='  ' type='number' maxlength='11' placeholder-class='pc' [(ngModel)]="laoshi"
                [(ngModel)]="lianxifanshi" style='' placeholder='请填写联系方式' />
            </div>
          </div>


          <div class='padding-mid' style=''>
            <div class='flex-row flex-center '>
              <div class='jl' style='color:#FF5252'>*</div>
              <div class='font-30   txt-black margin-left-10 width-210'>报名赛区：</div>
              <div class="pc">
                <select [(ngModel)]='index'>
                  <option *ngFor="let item of saiqu" [value]='item.id'>{{item.name}}</option>
                </select>
              </div>
              <div *ngIf="index==undefined" class="pc">请选择赛区</div>
              <div class="">{{saiqu[index].name}}</div>
              <div class="flex-1"></div>
              <img src="{{uploadpath}}resource/{{res.right_icon}}" mode="widthFix" class="icon-10" />
            </div>
          </div>

          <div class='padding-mid' style=''>
            <div class='flex-row flex-center '>
              <div class='jl' style='color:#FF5252'>*</div>
              <div class='font-30   txt-black margin-left-10 width-210'>所属机构：</div>
              <input class='  ' placeholder-class='pc' [(ngModel)]="jigou" style='' placeholder='请输入机构名称' />
            </div>
          </div>
          <div *ngIf='guize!=true' class='padding-mid' style=''>
            <div class='flex-row  '>
              <div class='jl' style='color:#FF5252'>*</div>
              <div class='font-30   txt-black margin-left-10 width-210'>参赛宣言：</div>
              <textarea class='  ' placeholder-class='pc' [(ngModel)]="xuanyan" name='jigou' style=''
                placeholder='请输入参赛宣言'></textarea>
            </div>
          </div>

          <div class='padding-mid' style=''>
            <div class='flex-row  '>
              <div class='jl' style='color:#FF5252'>*</div>
              <div class='font-30   txt-black margin-left-10 '>上传封面图片 (1张)</div>

            </div>

            <img src='{{uploadpath}}resource/{{res.addimgs}}' (click)='jguploadimg()' *ngIf="{{fenmian==''}}"
              class='icon-img' />

            <img mode='aspectFill' src='{{uploadpath}}jiemu/{{fenmian}}' (click)='jguploadimg()' *ngIf="fenmian!=''"
              class='icon-img' />


          </div>

          <div class='padding-mid' style=''>
            <div class='flex-row  '>
              <div class='jl' style='color:#FF5252'>*</div>
              <div class='font-30   txt-black margin-left-10 '>上传照片（照片数量不限）</div>

            </div>
            <div class="height-20"></div>
            <div class="ts">
              1.请上传表演人员合照
            </div>
            <div class="ts">
              2.照片类型：艺术字、生活照、影视照
            </div>
            <div class="ts">
              3.请上传20M以内的照片
            </div>

            <div class="flex-row flex-center flex-wrap">
              <div class=' ' *ngFor="jgimages" wx:key="k" wx:for-index="idx">
                <img mode="aspectFill" src='{{uploadpath}}jiemutupian/{{item}}' *ngIf='idx<20'
                  id="{{uploadpath}}jiemutupian/{{item}}" data-id="{{idx}}" (click)='viewPhoto($event)'
                  todobindlongpress="deleteimg" class='icon-img' />
              </div>
              <img src='{{uploadpath}}resource/{{res.addimgs}}' (click)='jguploadimg1($event)' class='icon-img' />
            </div>
            <view>

          </div>
        </div>

        <div class="padding-40 flex-row flex-center ">

          <img *ngIf="xuanzhon" (click)="gou($event)" class="icon" src="{{uploadpath}}resource/{{res.yiyuedu}}" />
          <img *ngIf="!xuanzhon" (click)="gou($event)" class="icon" src="{{uploadpath}}resource/{{res.weiyuedu}}" />
          <div class="f13 margin-left-10" style="color:#666666">我已详细阅读并同意</div>
          <div (click)="baomin($event)" class="f13 margin-left-10" style="color:#589DE9">《报名相关条款》</div>

        </div>

      </div>






    </div>

    <div class="flex-1"></div>
  </div>
  <div class="flex-row margin-top">

    <div class="flex-1"></div>
    <div (click)="yulan($event)" class="yulan">预览报名页面</div>
    <div class="flex-1"></div>
  </div>
  <div class="flex-row margin-top-20">

    <div class="flex-1"></div>

    <div (click)="tijiao($event)" class="tijiao">提交信息</div>
    <div class="flex-1"></div>
  </div>


  <div class="height-70"></div>
  </div>


  <div *ngIf='guize==true' catchtouchmove="true" class="block_black"></div>
  <div class=' gz ' *ngIf='guize==true'>
    <div class='guize bg-white flex-row flex-column'>

      <div class='txt-bold margin-top f40'>报名条款</div>
      <div class="sp1">
        <text class="sp2">
          {{guizezon}}
        </text>
      </div>
      <div class='' style='color:#FF6600' (click)='closetanchuang()'>我知道了</div>
      <div class="height-40"></div>
    </div>

  </div>

</ion-content>