@function rpx($px) {
    @return ($px * 100vw) / 750;
  } 
  
  ion-content{   
    --background:#F7F7F7;
    } 
  
    .shouji{
  
      width:100%;
      height: rpx(100);
      border-radius: rpx(49);
      background: #FFFFFF;
      margin-top:rpx(260);
  
    }
    .mima1{

        width:100%;
        height: rpx(100);
        border-radius: rpx(49);
        background: #FFFFFF;
        margin-top:rpx(50);
    
      }
    .zhuce{
      width:100%;
      height: rpx(120);
      border-radius: rpx(60);
      background: #37CFC9;
      margin-top:rpx(160);
  
      color:#FFFFFF;
      font-size: rpx(40);
      line-height: rpx(120);
      text-align: center;
    }
    .yanzhenma{
  
      width: rpx(472);
      height: rpx(100);
      border-radius:rpx(50);
      background:  #FFFFFF;
  
    }
    .huoquyanzhenma1{
      margin-left:rpx(44);
      border-radius:rpx(50);
       width: rpx(172);
       height: rpx(100);
       background: #C8C8C8;
       color:#FFFFFF;
       font-size: rpx(28);
       line-height: rpx(100);
       text-align: center;
    }
    .huoquyanzhenma{
      margin-left:rpx(44);
      border-radius:rpx(50);
       width: rpx(172);
       height: rpx(100);
       background: #37CFC9;
       color:#FFFFFF;
       font-size: rpx(28);
       line-height: rpx(100);
       text-align: center;
    }
    .bottom{
      position: fixed;
      bottom: rpx(120);
    }