<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding-20">

    <div class="h3">登录</div>

    <div class="shouji flex-row flex-center">


      <div class="margin-left-20 h5">+86</div>
      <div class="margin-left-20 " style="height:27px;width: 1px;background: #979797;"></div>
      <ion-input [(ngModel)]="shoujihao" inputmode="tel" maxlength="11" placeholder="手机号"
        placeholder-style="color:#C8C8C8;margin-left-20" class="flex-1 margin-left-20 shuruk"></ion-input>
    </div>

    <div class="mima1 flex-row flex-center">


     
      <ion-input type="{{mima2?'text':'password'}}" [(ngModel)]="password" inputmode="tel" maxlength="32"  placeholder="输入密码"
        placeholder-style="color:#C8C8C8;margin-left-20" class="flex-1 margin-left-20 shuruk"></ion-input>
        <img (click)="mima2=!mima2" src="{{uploadpath}}resource/{{mima2==true?res.kejian:res.bukejian}}" class="icon-25 margin-20" />
    </div>

    <div class="flex-row flex-center padding-20">

      <div class="f-28" style="color:#37CFC9">使用手机号密码登录</div>
   <div class="flex-1"></div>
      <div  (click)="forgetpsw()" class="f-28" style="color:#C8C8C8">忘记密码？</div>


    </div>

    <div (click)="login()" class="zhuce">登录</div>
    

  </div>

  <div class="bottom ">

    <div class="flex-row flex-center" style="width:100vw">
      <div class="flex-1"></div>
      <div class="h5" style="color:#000000">还没有账号?</div>
      <div (click)="zhuce()" class="h5" style="color:#37CFC9">注册</div>
      <div class="flex-1"></div>
    </div>
  </div>

</ion-content>