<ion-header>
      <ion-toolbar  color='primary'>
          <ion-buttons slot="start">
            <ion-button (click)='back()'>
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{heading}}</ion-title>
        </ion-toolbar>
  </ion-header>

    <ion-content >

        <back-component></back-component>

        <view class=' to_top' >
         <image src='{{uploadpath}}resource/{{res.totop}}' class='icon-50' bindtap='backtotop'></image>
        </view>
        
        <view class="page">
        <view wx:if='{{xiaoxilist.length==0}}' class="flex-row flex-column">
            <view style="height:200rpx;"></view>
            <image src="{{uploadpath}}resource/{{res.xiaoxiweikon}}" class="icon-170 "></image>
        
          </view>
        
        
          <view wx:for="{{xiaoxilist}}" wx:key="k"  data-idd="{{item.order_id}}" data-id='{{item.id}}' bindtap="xianqin" class="page__bd padding-20">
        
        
        
            <wux-cell-group>
              <wux-swipe-action  bind:click="onClick" autoClose id="123" right="{{ item.youhua }}">
                <view class="bg padding-20">
                  <view class="bg-white " style="border-radius:4rpx">
                    <view class="xiaoxi flex-row flex-center">
                      <image wx:if="{{item.type=='A'}}" class='icon-30' mode='scaleToFill' src='{{uploadpath}}resource/{{res.jiaoyixiaoxi}}'></image>
                      <image wx:if="{{item.type=='C'}}" class='icon-30' mode='scaleToFill' src='{{uploadpath}}resource/{{res.tuiguanxiaoxi}}'></image>
                       <image wx:if="{{item.type=='B'}}" class='icon-30' mode='scaleToFill' src='{{uploadpath}}resource/{{res.wuliuxiaoxi}}'></image>
                      <image wx:if="{{item.type=='E'}}" class='icon-30' mode='scaleToFill' src='{{uploadpath}}resource/{{res.xitonxiaoxi}}'></image>
                      <view class="margin-left-20 flex-1">
        
                        <view class="" style="color:#222222">{{item.type_name}}</view>
        
                       <view class="flex-row  margin-top-20 flex-center">
                        <view class="h6 chaochu flex-1" style="color:#999999">{{item.content}}</view>
                          
                          <view wx:if="{{item.isread_value=='N'}}" class="hondian"></view>
                       
                       </view>
        
        
                      </view>
        
                    </view>
                  </view>
        
                </view>
              </wux-swipe-action>
            </wux-cell-group>
          </view>
        
        </view>


    </ion-content>
