@function rpx($px) {
    @return ($px * 100vw) / 750;
}

/* pages/mymessage/mymessage.wxss */
Page{
    background: #f5f5f5;
  }
  .xiaoxi{
  margin:rpx(35) rpx(30) rpx(35) rpx(30);
  }
  .wux-swipe__text{
  color:white
  
  }
  .page__bd{
  
  padding-bottom:rpx(0);
  
  }
  .hondian{
  
  width:rpx(12);
  height: rpx(12);
  border-radius: 50%;
  background: red;
  
  }
  .icon-30{
  
  width: rpx(60);
  
  padding-right: rpx(20);
  }