@function rpx($px) {
  @return ($px * 100vw) / 750;
}

/* pages/seek/seek.wxss */

ion-content {
  --background: #f5f5f5;
}

.search {
  border-radius: rpx(30);
  background-color: white;
}

.gongao {
  border-top-right-radius: rpx(10);
  border-bottom-right-radius: rpx(10);
  background: #dfc767;
}

.shadow {
  box-shadow: 1px 1px 5px #d1d1d1;
}

.red_block {
  height: rpx(130);
  width: rpx(140);
}

.jx {
  padding-left: rpx(7);
  padding-right: rpx(7);
  padding-top: rpx(3);
  padding-bottom: rpx(3);
}

.toutiao {
  padding-left: rpx(40);
  padding-right: rpx(40);
  padding-top: rpx(20);
  padding-bottom: rpx(20);
}

.weizhi {
  padding-left: rpx(40);
  /* padding-right: rpx(40); */
  margin-bottom: rpx(20);
  margin-left: rpx(20);
  margin-right: rpx(20);
}

.border_top {
  border-top: rpx(2) solid #e5e5e5;
}

.type {
  padding-left: rpx(17);
  padding-right: rpx(17);
  padding-top: rpx(4);
  padding-bottom: rpx(4);
}

.kecheng {
  margin-left: rpx(20);
  margin-right: rpx(20);
  margin-top: rpx(20);
  /* margin-bottom: rpx(4); */
}

.simg {
  background: white;
  background-image: url('http://applinkupload.oss-cn-shenzhen.aliyuncs.com/alucard263096/tthxb/resource/b2a15e95ff44796c01cd55bc73a06629_19040220002.png');
  background-size: 100% 100%;
}

.ximg {
  background-image: url('http://applinkupload.oss-cn-shenzhen.aliyuncs.com/alucard263096/tthxb/resource/37262d1d482d74704847ee62566616d8_19040221012.png');
  background-size: 100% 100%;
}

.kc_icon {
  width: rpx(228);
  height: rpx(224);
}

.SX {
  position: fixed;
  top: 0;
  z-index: 101;
  right: 0;
  bottom: 0;
  width: 100%;
}

.margin_L_T {
  margin-left: rpx(20);
  margin-top: rpx(20);
}



.fixedtop {
  position: fixed;
  z-index: 100;
  left: 0px;
  top: 0px;
  width: 100vw;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    /*初始状态 透明度为0*/
  }

  49% {
    opacity: 0.1;
    /*中间状态 透明度为0*/
  }

  50% {
    opacity: 1;
    /*中间状态 透明度为0*/
  }

  100% {
    opacity: 0;
    /*结尾状态 透明度为1*/
  }
}

.tipsshowfull {
  position: fixed;
  right: 0px;
  top: 60%;
  width: rpx(360);
  background-color: rgba(150, 150, 150, 0.6);
  border-top-left-radius: rpx(8);
  border-bottom-left-radius: rpx(8);
}

.tipsshow {

  padding: rpx(8) rpx(46) rpx(8) rpx(14);
}

.tipsshow image {
  width: rpx(40);
  height: rpx(40);
  border-radius: 50%;
}

.tipsshow view {
  font-size: rpx(24);
  color: white;
}

.xiala {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: calc(100vh - rpx(238));
  background: black;
  top: rpx(238);
  bottom: 0;
  /* height: rpx(500); */
  opacity: 0.7;
}

.list {
  position: fixed;
  width: rpx(230);
  z-index: 200;

}

.list2 {
  position: fixed;
  width: rpx(188);
  z-index: 200;
  top: rpx(142);
}

.list3 {
  position: fixed;
  width: rpx(188);
  z-index: 200;
  right: 0;
  top: rpx(74);
}

.img {
  width: rpx(220);
  height: rpx(252);
}

.midt {
  position: absolute;

  width: 100vw;
  margin-top: -rpx(130);
}

.icon13 {
  height: rpx(26);
  width: rpx(26);
}

.midtm {}

.mid {
  width: 85.5%;
  height: rpx(196);
  margin-top: rpx(30);
  /* opacity: 0.8; */
  box-shadow: 1px 1px 5px #dfdfdf;
}

.zhong {

  z-index: 20;
  width: 100%;
}

.xb_bg {
  height: rpx(42);
  width: rpx(154);
}

.bt {
  position: absolute;
  bottom: rpx(54);

}

.search_icon {
  width: rpx(35);
  height: rpx(30);
}

.biaoqian {
  width: rpx(116);
  height: rpx(38);
  line-height: rpx(38);
}

.btm {
  position: absolute;
  right: 10vw;
  bottom: rpx(40);
}

.h70 {
  height: rpx(70);
}

.w564 {
  width: rpx(564);

}

.w150 {
  width: rpx(150);

}

.w50 {
  width: rpx(50);
}

.sp1 {
  width: rpx(324);
  height: rpx(30);
}

.sp2 {
  width: rpx(80);
  height: rpx(6);
}

.h240 {
  height: rpx(240);
}

.sp3 {
  width: 100%;
  height: rpx(390)
}

.mw400 {
  max-width: rpx(400);
}

.w400 {
  width: rpx(400);
}

.w19 {
  width: rpx(19);
}

.h180 {
  height: rpx(180);
}

.sp4 {
  width: 30vw;
  margin-top: rpx(100);
  margin-bottom: rpx(40);
}

.h40 {
  height: rpx(40);
}

.sp6 {
  width: rpx(160);
  height: rpx(60);
  line-height: rpx(60);
}

.sp7 {
  height: rpx(62);
  width: rpx(180);
  line-height: rpx(62);
}

.h60 {
  height: rpx(60);
}

.w360 {
  width: rpx(360);
}

.w250 {
  width: rpx(250);
}