
<ion-header>
    <ion-toolbar color='primary'>
      <ion-buttons slot="start">
        <ion-button (click)='back()'>
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{InstInfo.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <img src='{{uploadpath}}aboutus/{{aboutus.content}}' style="width: 100vw;"  />
</ion-content>

<div class='backhome'>
  <img src='{{uploadpath}}resource/{{res.fanhui}}' class='icon-50' (click)='shouye()'/>
</div>

<div class='to_top'>
    <img src='{{uploadpath}}resource/{{res.totop}}' class='icon-50' (click)='backtotop()'/>
</div>
