@function rpx($px) {
    @return ($px * 100vw) / 750;
}

/* pages/addressmanage/addressmanage.wxss */

.hezi {
    margin-top: rpx(20);
    padding-top: rpx(40);
    padding-bottom: rpx(40);
    padding-left: rpx(30);
    padding-right: rpx(30);
    background-color: white;
    border-radius: rpx(8);
  }
  
  .margin-left-14 {
    margin-left: rpx(14);
  }
  .margin-left-24 {
    margin-left: rpx(46);
  }
  .margin-top-8 {
    margin-top: rpx(10);
  }
  .margin-top-68 {
    margin-top: rpx(68);
  }
  
  .but {
    width: rpx(600);
    height: rpx(84);
    background: rgba(255, 102, 0, 1);
    border-radius: rpx(52);
  }
  
  .margin-top-54 {
    margin-top: rpx(54);
  }
  
  .delete {
    width: rpx(60);
    height: rpx(21);
    font-size: rpx(15);
    font-family: PingFangSC-Regular;
    font-weight: rpx(800);
    color: rgba(79, 181, 230, 1);
    line-height: rpx(42);
  }
  .minh-180{
    min-height:rpx(180);
  }