<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{heading}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <img class="backhome" src="{{uploadpath}}resource/{{res.fanhui}}" (click)="backHome()" />

  <form #form="ngForm" (ngSubmit)="confirm(form)">
    <div class='margin-20'>

      <div class='flex-row'>
        <div class='margin-left-14 h5' style='color:#999999'>填写详细地址方便直接送货上门</div>
        <div class='flex-1'></div>
        <div class='delete' *ngIf='id>0' (click)="binddeleted">删除</div>
      </div>
      <div class='hezi'>
        <div class='flex-row flex-center'>
          <div class='f15' style='width:24vw'>收件人姓名：</div>
          <input class='margin-left-20 f15' style='width:60vw'   [(ngModel)]='formdata.name' name='name'
            placeholder='请输入收件人姓名' />
        </div>


        <div class='flex-row flex-center margin-top-68'>
          <div class='f15' style='width:24vw'>手机号：</div>
          <input class='margin-left-20 f15' maxlength="11" type="number"  [(ngModel)]='formdata.mobile'  style='width:60vw' name='mobile' placeholder='请输入手机号' />
        </div>


        <div class='flex-row flex-center margin-top-68'>
          <div class='f15' style='width:24vw'>所在城市：</div>
          <input class='margin-left-20 f15'  type="text"  [(ngModel)]='formdata.region'  style='width:60vw' name='region' placeholder='请输入所在城市' />
        </div>

        <div class='flex-row  margin-top-68'>
          <div class='f15 {{show==2?"margin-top-8":""}}' style='width:24vw;'>门牌号：</div>


          <textarea class='margin-left-20 f15 minh-180'  [(ngModel)]='formdata.address'  name='address'
            style='width:70%; ' placeholder='例:某街道5号楼203室'></textarea>


        </div>
      </div>

      <button class='but txt-white margin-top-54 ' form-type='submit'>保存</button>

    </div>
  </form>



</ion-content>