<ion-header>
      <ion-toolbar  color='primary'>
          <ion-buttons slot="start">
            <ion-button (click)='back()'>
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{heading}}</ion-title>
        </ion-toolbar>
  </ion-header>

    <ion-content >


        <img class="backhome" src="{{uploadpath}}resource/{{res.fanhui}}" (click)="backHome()" />
        <div class="padding-30 padding-bottom-20 flex-row flex-center">
          <img class='member_icon' src='{{MemberInfo.avatarUrl}}' />
          <div class='margin-left-10 chaochu' >{{MemberInfo.nickName}}</div>
          <div **ngIf===="{{!showModal&&tuiguaninfo[0].status=='S'}}" class="label">学榜大使</div>
          <div class="flex-1"></div>
          <div class="h5 w150" style='color:#666666'  bindtap='tuiguanguize($event)'>推广规则</div>
        </div>
        
        
        
        
        <div class="padding-30  padding-top-20">
          <div class="content_bg ">
            <div class="padding-40">
              <div class="h5" style='color:rgba(161, 111, 47, 1)'>累计金币收益</div>
              <div style="" class="flex-row flex-bottom margin-top-20 h70">
             
                    
                    
                  <img class="icon-25  margin-right-10  " src='{{uploadpath}}resource/{{res.qiandai}}' />
          
                <div class=" h2" style="color:rgba(255, 255, 255, 1);">{{MemberInfo.tuiguanshouyi}}</div>
                <div class="flex-1"></div>
                <div bindtap='lijitixian($event)' class="tixian">立即提现</div>
              </div>
            </div>
        
            <div class="xian"></div>
            <div class="content_bottom flex-row flex-center">
              <div bindtap='mykehu($event)' class="flex-1 flex-row ">
                <!-- <div class="flex-1"></div> -->
                <view>
                  <div class="margin-left-40 h5" style='color:rgba(161, 111, 47, 1)'>
                    大使馆
                  </div>
                  <div class="h4 margin-top-20 margin-left-40" style='color:rgba(255, 255, 255, 1)'>
                    {{leijikehu}}
                  </div>
                </div>
                <div class="flex-1"></div>
              </div>
              <div class="fenge"></div>
              <div bindtap='tuiguandindan($event)' class="flex-1 flex-row ">
                
                <view>
                  <div class="h5 margin-left-40" style='color:rgba(161, 111, 47, 1)'>
                    大使传单
                  </div>
                  <div class="h4 margin-top-20 margin-left-40" style='color:rgba(255, 255, 255, 1)'>
                    {{tuiguandindan.length}}
                  </div>
                </div>
                <div class="flex-1"></div>
              </div>
            </div>
          </div>
        </div>
        <div bindtap="yaoqin($event)" class="margin-30 margin-top-10 flex-row bg-white flex-center">
        
          <img class="yaoqin_icon padding-40" src='{{uploadpath}}resource/{{res.yaoqinhaoyou}}' />
          <div class="flex-1">
            <div class="f15" style='color:rgba(34, 34, 34, 1)'>邀请好友</div>
            <div class="h11 margin-top-10" style='color:rgba(153, 153, 153, 1)'>邀请好友一起学习</div>
          </div>
          <img class="icon-10 padding-40" mode='widthFix' src='{{uploadpath}}resource/{{res.yaoqin_you}}' />
        
        </div>
        
        <div class="modal-mask" bindtap="hideModal($event)" **ngIf===="{{showModal}}" catchtouchmove="preventTouchMove"></div>
        <div class="modal-dialog" **ngIf===="{{showModal}}">
          <div class="padding-20 margin-left-20">填写信息申请成为推广员</div>
        
          <div class="padding-20 flex-row flex-center">
            <div style='color:rgba(255, 82, 82, 1)'>*</div>
            <div class="margin-left-5 jl">姓名:</div>
            <input value='{{name}}'  bindinput='name' placeholder="请输入真实姓名" placeholder-class="ysl" />
          </div>
          <div class="padding-20 flex-row flex-center">
            <div style='color:rgba(255, 82, 82, 1)'>*</div>
            <div class="margin-left-5 jl">手机号:</div>
            <input type="number" maxlength="11" value='{{photo}}' placeholder="请输入手机号码" bindinput='photo' placeholder-class="ysl" />
          </div>
          <div class="padding-20 flex-row flex-center">
            <div style='color:rgba(255, 82, 82, 1)'>*</div>
            <div class="margin-left-5 jl">验证码:</div>
            <input  class="w300" value='{{yanzhenma}}'maxlength="4" bindinput='yanzhenma' placeholder="输入验证码" placeholder-class="ysl" />
            <div **ngIf===="{{shijian==0}}" bindtap="fason($event)" class="yz_btm">获取验证码</div>
            
            <div class="h5" **ngIf===="{{shijian>0}}" >{{shijian}}秒后重新发送</div>
        
        
          </div>
          <div class="padding-20 flex-row flex-center">
            <div style='color:rgba(255, 82, 82, 1)'>*</div>
            <div class="margin-left-5 jl">地址:</div>
            <input value='{{dizhi}}' bindinput='dizhi' placeholder="详细住址" placeholder-class="ysl" />
          </div>
          <div bindtap='queren($event)' class="flex-row margin-top-60">
            <div class="flex-1"></div>
            <div class="tuan_btn  text-center  ">
              确认
            </div>
        
            <div class="flex-1"></div>
          </div>
        </div>

    </ion-content>
