@function rpx($px) {
    @return ($px * 100vw) / 750;
}

.noopt{
    margin-left:rpx(20);
  color: rgba(153, 153, 153, 1);
  background: rgba(245, 246, 248, 1);
  padding: rpx(10) rpx(30) rpx(10) rpx(30);
  border-radius: rpx(30);
  font-size: rpx(24);
  
  }
  .opt{
    margin-left:rpx(20);
  color: rgba(34, 34, 34, 1);
  background: rgba(255, 186, 18, 1);
  padding: rpx(10) rpx(30) rpx(10) rpx(30);
  border-radius: rpx(30);
  font-size: rpx(24);
  }