<ion-header>
      <ion-toolbar  color='primary'>
          <ion-buttons slot="start">
            <ion-button (click)='back()'>
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{heading}}</ion-title>
        </ion-toolbar>
  </ion-header>

    <ion-content >


        <view class="padding-20 bg-white flex-row flex-center">
            <view data-val="yesterday" bindtap="binddate" class="{{date=='yesterday'?'opt':'noopt'}}">昨天</view>
            <view data-val="7days" bindtap="binddate" class="{{date=='7days'?'opt':'noopt'}}">近7天</view>
            <view data-val="all" bindtap="binddate" class="{{date=='all'?'opt':'noopt'}}">全部</view>
            <view class="flex-1"></view>
            <picker class=" " mode="date" value="{{xssj}}" start="1970-1-1" end="{{jintian}}" bindchange="bindDateChange">
              <view class="flex-row flex-center">
                <view class="h6">自定义时间</view>
                <image class="icon-10 margin-left-10" mode="widthFix" src="{{uploadpath}}resource/{{res.xiangxia}}"></image>
              </view>
            </picker>
          </view>
          <view class="padding-20 h6" style="color:rgba(161, 161, 161, 1)">
            共{{youxiao.length}}个邀请
          </view>
          <view wx:for="{{youxiao}}" wx:key="k"  bindtap="kehuinfo" class="padding-20  bg-white flex-row flex-center">
            <image class="icon-60 radius-50" src="{{item.avatarUrl}}"></image>
            <view class="margin-left-20">
              <view class="flex-row flex-center">
                <view class="h5 chaochu " style="width:200rpx">{{item.nickName}}</view>
            
              </view>
            
            </view>
            <view class="flex-1"></view>
            <view class="h6">我的收益: {{item.shouru}}</view>
          
          </view>
          

    </ion-content>
