@function rpx($px) {
    @return ($px * 100vw) / 750;
}

/* pages/pingceindex/pingceindex.wxss */

.top-img {
    width: 100vw;
    height: rpx(260);
  }
  
  .padding-24 {
    padding: rpx(24);
  }
  
  .margin-24 {
    margin: rpx(24);
  }
  .margin-left-12{
    margin-left: rpx(6);
  }
  .mid-block {
    margin: rpx(12) rpx(24) rpx(24) rpx(24);
  }
  
  .bottom-block {
    margin: rpx(12) rpx(24) rpx(0) rpx(24);
  }
  
  .huangtiao {
    width: rpx(8);
    height: rpx(28);
    background: rgba(255, 194, 0, 1);
  }
  
  .margin-left-16 {
    margin-left: rpx(16);
  }
  
  .margin-top-24 {
    margin-top: rpx(24);
  }
  
  .margin-top-14 {
    margin-top: rpx(14);
  }
  
  .txt-6 {
    color: #666;
  }
  
  .quan {
    width: rpx(110);
    height: rpx(110);
    border: rpx(12) solid;
    border-image: linear-gradient(180deg, rgba(192, 208, 255, 1), rgba(95, 82, 160, 1)) 6 6;
  }
  
  .margin-top-30 {
    margin-top: rpx(30);
  }
  
  .ceshi {
    width: rpx(600);
    height: rpx(84);
    line-height: rpx(84);
    background: rgba(255, 102, 0, 1);
    border-radius: rpx(42);
  }
  
  .height-126 {
    height: rpx(126);
  }
  
  .height-52 {
    height: rpx(52);
  }
  
  .animation-box {
    position: fixed;
    left: 30vw;
    width: rpx(176);
    height: rpx(176);
    background: green;
  }
  
  .time-crl-path {
    position: fixed;
    left: 30vw;
    width: 50px;
    height: 9px;
    bottom: 50%;
    background: red;
  }
  
  .crl-dot {
    position: fixed;
    left: 30vw;
    width: 50px;
    height: 9px;
    bottom: 50%;
    background: red;
  }
  
  .UD {
    position: fixed;
    width: 100vw;
    z-index: 5;
    bottom: 0;
    top: 0;
    background: white;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  .progress_box {
    position: relative;
    width: 90px;
    height: 90px;
    /* 这里的宽高是必须大于等于canvas圆环的直径 否则绘制到盒子外面就看不见了
    一开始设置 width:rpx(440); height:rpx(440); 发现 在360X640分辨率的设备，下绘制的圆环跑盒子外去了
    小程序使用rpx单位适配 ，但是canvas绘制的是px单位的。所以只能用px单位绘制的圆环在盒子内显示 */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #eee; */
  }
  
  .progress_bg {
    position: absolute;
    width: 90px;
    height: 90px;
  }
  
  .progress_canvas {
    width: 90px;
    height: 90px;
  }
  
  .progress_text {
    position: absolute; 
  }
   
  .h178{
    height:rpx(178)
  }

  .ml62{
    margin-left:rpx(62)
  }

  .aa{ 

      word-break: keep-all; 
      word-wrap: break-word;
       
  }
  .size{
    white-space:pre-wrap
  }