<ion-header>
      <ion-toolbar  color='primary'>
          <ion-buttons slot="start">
            <ion-button (click)='back()'>
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{heading}}</ion-title>
        </ion-toolbar>
  </ion-header>

    <ion-content >

<!--pages/order/order.wxml-->
<img class="backhome" src="{{uploadpath}}resource/{{res.fanhui}}" (click)="backHome()" />
<div class="bg_top">
<div class="flex-row flex-center ">

  <div class="flex-1"></div>

  <div *ngIf="info.pstatus!='W'" class="flex-row flex-center nr">

    <img src='{{uploadpath}}resource/{{res.goumaiwanchen}}' class='icon-80' />
    <div class=' margin-left-20'>
      <div class="txt-bold">购买成功,获得{{info.jifen}}积分</div>
      <div class="h6 margin-top-10 w500" >添加下方微信号联系上课，如果您过于繁忙，我们将在24小时内联系您预约上课时间。</div>
    </div>
  </div>
  
  <div class="flex-1"></div>

</div>
<div *ngIf="info.pstatus!='W'"  class='flex-row flex-center pb60'>
  <div class='flex-1'></div>

  <div class='flex-row flex-center btn ' (click)='tohome()'>
    <div class='flex-1'></div>
    <img src='{{uploadpath}}resource/{{res.kc_shouyebai}}' class='icon-34' />
    <div class='txt-white h5 margin-left-18'>返回首页</div>
    <div class='flex-1'></div>
  </div>

  <div class="w24"></div>

  <div (click)="todetails($event)" class='flex-row flex-center btn '>
    <div class='flex-1'></div>
    <img src='{{uploadpath}}resource/{{res.jixugouke}}' class='icon-34' />
    <div class='txt-white h5 margin-left-18'>继续购课</div>
    <div class='flex-1'></div>
  </div>

  <div class='flex-1'></div>

</div>
</div>
<div class='flex-row flex-column ' style='background-color:#FFFFFF' *ngIf="info.pstatus=='W'">
  <div class='height-60'></div>

  <div style='' class='txt-bold  h4'>待支付</div>

  <div class='flex-row flex-center margin-top-10'>
    <img src='{{uploadpath}}resource/{{res.heishijian}}' class='icon' />
    <div style='' class='h6  margin-left-20'>请在{{mMinute}}分{{mSecond}}秒内完成支付,过时订单将会取消</div>
  </div>
  <div class="flex-row flex-center margin-top-20">

    <div (click)='colseorder(info.id)' id='{{info.id}} ' class="qxdd">取消订单</div>
    <div (click)='bindpay($event)' class="qzf margin-left-20">去支付</div>
  </div>

  <div class='height-60'></div>
</div>
<div class="height-20"></div>
<div class='flex-row flex-column ' *ngIf="info.pstatus=='P'||info.pstatus=='PJ'">
  <div class="h38"></div>
  <div style='color:#999999' class='h6'>请勿随意将此页面分享给陌生人，保证订单有效性</div>

  <div class='height-20'></div>

  <div class='height-20'></div>


  <div style='' class=' bg-white flex-row flex-column padding-20 radius-10 '>
    <div class=' flex-row flex-column  radius-10 sp1' style='background:#50B674;'>

     
      <div class=" padding-top-10 flex-row flex-center " style="width:100%;">
        <div (click)="kefu($event)" class="padding-left-20">
          <img src='{{uploadpath}}resource/{{res.erweimaban}}' class='erweimaban' />
        </div>
        <div class="padding-left-20 h68" style="">
          <div (click)="kefu($event)" class="saoma">扫码添加客服</div>
        </div>

        <div class="flex-1"></div>
      </div>

      <div style='width:100% '>
        <div class='flex-row flex-center ' style='width:100% '>

          <div class=' flex-row flex-center   flex-1  '>
            <div class="flex-1"></div>
            <div class="txt-white quan h6 text-center ">1</div>
            <div class="flex-1 "></div>

          </div>
          <div class=' flex-row flex-center   flex-1  '>
            <div class="flex-1"></div>
            <div class="txt-white quan h6 text-center ">2</div>
            <div class="flex-1"></div>
          </div>
          <div class=' flex-row flex-center   flex-1  '>
            <div class="flex-1"></div>
            <div class="txt-white quan h6 text-center ">3</div>
            <div class="flex-1"></div>
          </div>
        </div>
        <div class='flex-row flex-center xxxx ' style='width:100% '>
          <div class="flex-1"></div>

          <div class=" xian1"></div>
          <div class="flex-1"></div>
        </div>

        <div class='flex-row flex-center margin-top-5 ' style='width:100% '>

          <div class=' txt-white flex-1 h5 text-center'>添加微信号 </div>
          <div class=' txt-white flex-1 h5 text-center'>联系学榜客服 </div>
          <div class=' txt-white flex-1 h5 text-center'>确定上课时间 </div>
        </div>

        <div class='flex-row flex-center margin-top-5 ' style='width:100% '>

          <div class=' txt-white flex-1 h7 text-center '>
            {{courseinfo.teacherwechatid}} </div>
          <div class=' txt-white flex-1 h7 text-center'>确认课程信息 </div>
          <div class=' txt-white flex-1 h7 text-center'>准备上课啦！ </div>
        </div>
        <div class='flex-row flex-center margin-top-5 ' style='width:100% '>

          <div class=' flex-row  flex-1 flex-center '>
            <div class="flex-1"></div>
            <div class="fz" id='{{courseinfo.teacherwechatid}} ' (click)='copytext($event)'>复制微信号</div>
            <div class="flex-1"></div>
          </div>
          <div class=' txt-white flex-1 h7 text-center'> </div>
          <div class=' txt-white flex-1 h7 text-center'></div>
        </div>
      </div>




    </div>

  </div>
  <div class='height-20'></div>
  <div class='height-20'></div>


</div>




<div class='flex-row flex-column ' style='background-color:#FFC200 ' *ngIf="info.pstatus=='C '">
  <div class='height-100 '></div>

  <div style=' ' class='txt-bold txt-white h4 '>15分钟未支付已取消</div>
  <div class='height-100 '></div>
</div>



<div class='flex-row flex-column ' *ngIf="info.pstatus=='U'">
  核销码已使用
</div>



<div class='flex-row flex-column ' *ngIf="info.pstatus=='R'">
  申请退款中
</div>


<div class='flex-row flex-column ' *ngIf="info.pstatus=='F'">
  退款成功
</div>

<div class='flex-row flex-column ' *ngIf="info.pstatus=='S'">
  完成购买
</div>


<div class=' '>
  <div class=' padding-left-20 bg-white bor_bot bor_top ' style=' '>
    <div class='flex-row flex-center padding-20 bor_bot ' style=' '>

      <div class='txt-black '>订单信息</div>
    </div>

    <div class='flex-row flex-center padding-20 bor_bot '  style=' '>

      <img class='icon-50 radius-10 ' src='{{uploadpath}}curriculum/{{courseinfo.kc_img}} ' (click)='todetails($event)' />

      <div class='flex-1 flex-row column margin-left-20 ' (click)='todetails($event)'>
        <div class='flex-row flex-center '>
          <div class=' txt-black txt-bold '>{{courseinfo.name}}</div>
        </div>
        <div class='margin-top-5 txt-gray h5 '>{{courseinfo.JG_jigou}}</div>
      </div>
      <div>
        <div class='txt-black  text-right'>￥{{info.amount}}</div>
        <div *ngIf="info.pstatus!='W'" (click)="hexiaoma()" class="margin-top h6 hexiaoma">核销码</div>
      </div>

    </div>

    <div class='flex-row flex-center padding-20 bor_bot ' style=' '>
      <div class='flex-1 '>实付款</div>
      <div class='txt-black txt-bold margin-left-20 '>￥ {{info.amount}}</div>
    </div>

  </div>

  <div class='margin-top-20  padding-left-20 bg-white bor_bot bor_top ' style=' '>




    <div class='flex-row flex-center pd bor_bot ' style=' '>
      <div class='h5 flex-1 ddd '>订单号</div>
      <div class='txt-black h5 flex-4 '>{{info.orderno}}</div>

    </div>
    <div class='flex-row flex-center pd bor_bot ' style=' '>
      <div class=' h5 flex-1 ddd '>支付方式</div>
      <div class='txt-black flex-4 h5 '>线上支付</div>
      <div class='radius-10 h7 text-center margin-right-40 sp2' style=' '></div>
    </div>

    <div class='flex-row flex-center pd bor_bot ' style=' '>
      <div class=' h5 flex-1 ddd '>下单时间</div>
      <div class='txt-black flex-4 h5 '>{{info.submit_time_formatting}}</div>
      <div class='radius-10 h7 text-center margin-right-40 sp2' ></div>
    </div>

  </div>
  <div class=' text-center sp3' style=''>您购买的课程，购买后不支持退订、转让、退换。</div>
</div>






<div *ngIf="info.pstatus!='W'" class='height-50 '></div>
<div *ngIf="info.pstatus=='W'" class='height-100 '></div>



<div class="modal-mask" (click)="hideModal($event)" catchtouchmove="preventTouchMove($event)" *ngIf="erweima"></div>

<div class="modal-dialog" *ngIf="erweima">
  <div class="padding-20">
    <div class="flex-row flex-center">
      <div class="flex-1"></div>
      <img src="{{uploadpath}}resource/{{res.heicha}}" (click)="hideModal($event)" class="icon-15" />
    </div>
    <div class="padding-top-20  text-center" style="color:#999999">

      *点击二维码，长按保存电子凭证到手机
    </div>

    <div class="flex-row flex-center margin-top">
      <div class="flex-1"></div>
      <img *ngIf="type=='kefu'" todobindlongtap="xiazai($event)" (click)="viewPhoto($event)" id="{{uploadpath}}inst/{{InstInfo.kefuerweima}}" src="{{uploadpath}}inst/{{InstInfo.kefuerweima}}" class="erweimade" />
      <img *ngIf="type=='hexiao'" (click)="viewPhoto($event)" class="erweimade" mode="widthFix" id='{{apiurl}}jigou/qrcode?id={{info.id}}&a.jpg' src='{{codeimg}}' todobindlongtap="xiazai" />
      <div class="flex-1"></div>
    </div>

    <div class="margin-top  text-center" style="color:#222222 ">

      {{type=='hexiao'?'如需要验证，请出示此核销码':'扫描二维码添加客服微信'}}
    </div>
    <div class="height-50"></div>
  </div>

</div>


<div class="baocunhexiao  flex-row flex-center" *ngIf="erweima" data-id="erweima" (click)="xiazai($event)">
  <div class="flex-1"></div>
  <img class="icon-15" mode="widthFix" src="{{uploadpath}}resource/{{res.xiazai}}" />
  <div class="zi margin-left-10">保存{{type=='hexiao'?'核销码':'二维码'}}</div>
  <div class="flex-1"></div>
</div>


    </ion-content>
