@function rpx($px) {
    @return ($px * 100vw) / 750;
}

.margin-left-14 {
    margin-left: rpx(14);
  }
  
  .hezi {
    margin-top: rpx(20);
    padding-top: rpx(50);
    padding-bottom: rpx(50);
    padding-left: rpx(40);
    padding-right: rpx(40);
    background-color: white;
    border-radius: rpx(8);
  }
  
  .but {
    position: fixed;
    left: rpx(76);
    bottom: rpx(54);
    width: 80vw;
    border-radius: rpx(42);
    background-color: #f60;
  }
  