@function rpx($px) {
  @return ($px * 100vw) / 750;
}

ion-content {
  --background: #f5f5f5;
}

.xq {
  color: #ffc200;
  font-size: rpx(24);
  background: white;
  border: rpx(1) solid #ffc200;
  padding: rpx(15) rpx(30) rpx(15) rpx(30);
  border-radius: rpx(30);
}

.xq1 {
  color: #ffc200;
  font-size: rpx(24);
  background: white;
  border: rpx(1) solid #ffc200;
  padding: rpx(15) rpx(40) rpx(15) rpx(40);
  border-radius: rpx(30);
}

.xxq {
  border-radius: rpx(10);
}