<ion-header>
      <ion-toolbar  color='primary'>
          <ion-buttons slot="start">
            <ion-button (click)='back()'>
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{heading}}</ion-title>
        </ion-toolbar>
  </ion-header>

    <ion-content >

        <div class=" margin-20 ">
            <div **ngFor===="{{myxiaoxi}}" wx:key='k'>
              <div class="xxq  bg-white padding-20">
                <div class="flex-row flex-center">
                  <img class="icon-30" mode="widthFix" src="{{uploadpath}}resource/{{res.tuiguangxiaoxi}}" />
                  <div class="margin-left-20 h5 txt-bold">推广员系统消息</div>
          
                </div>
          
                <div class="margin-top h6" style="color:#999999">
                  {{item.content}}
          
                </div>
                <div class="flex-row flex-center margin-top-20 margin-bottom-20">
          
                  <div class="h6" style="color:#999999">{{item.xiaoxi_date}}</div>
                  <div class="flex-1"></div>
                  <div **ngIf===="{{item.zhuantai=='成功'}}" bindtap="zhuqnaian" class="xq1">去推广</div>
                  <div **ngIf===="{{item.zhuantai!='成功'}}" bindtap="chakanxianqin" class="xq">查看详情</div>
                </div>
          
          
              </div>
              <div class="height-20"></div>
            </div>
          
          
          
          </div>


    </ion-content>
