<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{heading}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <img class="backhome" src="{{uploadpath}}resource/{{res.fanhui}}" (click)="backHome()" />

  <div class=' to_top'>
    <img src='{{uploadpath}}resource/{{res.totop}}' class='icon-50' (click)='backtotop($event)' />
  </div>

  <div class=' flex-row flex-center  bg-white bor_bot'>

    <div class='flex-1 flex-row flex-column' (click)='bindshow($event)' data-type='wc'>
      <div
        class='txt-bold  flex-1 h5 padding-10 margin-bottom-5 margin-top-10 {{shows=="finished"?"txt":""}} txt-black'>课程
      </div>
      <div *ngIf='shows=="finished"' class='bg-primary sp1' style=''></div>
      <div *ngIf='shows!="finished"' class=' sp2' style=''></div>
    </div>

    <div class='flex-1 flex-row flex-column' (click)='bindshow($event)' data-type='df'>
      <div class='txt-bold  flex-1 h5 padding-10 margin-bottom-5 margin-top-10 {{shows=="wait"?"txt":""}} txt-black'>机构
      </div>
      <div *ngIf='shows=="wait"' class='bg-primary sp1' style=''></div>
      <div *ngIf='shows!="wait"' class=' sp2' style=''></div>
    </div>

  </div>



  <div class='padding-bottom-20' *ngIf='shows=="finished"'>

    <div *ngIf="coursevlist.length==0">
      <div class='flex-row text-center'>
        <div class='flex-1'>

        </div>

        <div>

          <div class='nofound-img'>
            <img class='sp3' mode='widthFix'
              src='{{uploadpath}}resource/{{res.nofound}}' />
          </div>
          <div class='h5 txt-gray'>
            未找到您需要的课程
          </div>
      </div>
      <div class='flex-1'>

      </div>
    </div>
  </div>




  <div (click)='tokcdetails($event)' id='{{item.id}}' class='padding-20 flex-row bg-white kecheng radius-10 shadow'
    *ngFor='let item of coursevlist;let idx=index;' wx:key='k'>
    <img class='kc_icon radius-10 ' lazy-load='{{true}}' src='{{uploadpath}}curriculum/{{item.kc_img}}' />
    <div class='flex-row column   margin-left-20 flex-1'>
      <div class='txt-bold txt-black flex-1 chaochu'>{{item.name}}</div>

      <div class='flex-row flex-center'>

        <div class="starbox text-right">
          <div class="stars" style="width: 100%;">
            <div class=" ims">
              <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
              <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
              <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
              <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
              <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
            </div>
          </div>

          <div class="stars2" style="width: {{item.pingfen==''?item.scoring*20:item.pingfen*20}}%">
            <div class="ims">
              <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
              <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
              <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
              <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
              <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
            </div>
          </div>

        </div>

        <div class='h6 flex-1 margin-left-20 txt-primary'>{{item.people_num}}人购课</div>
      </div>

      <div class='flex-row flex-center flex-1' style=''>


        <div class='flex-row flex-center flex-1'>
          <img src='{{uploadpath}}resource/{{res.age_icon}}' class='icon-10' />
          <div class='h6 txt-black margin-left-5'>{{item.age_name}}</div>
        </div>


        <div class='flex-row flex-center flex-1'>
          <img src='{{uploadpath}}resource/{{res.keshi}}' class='icon-10' />
          <div class='h6 txt-black margin-left-5'>{{item.class_hours}}节课</div>
        </div>


        <div class='flex-row flex-center flex-1'>
          <img src='{{uploadpath}}resource/{{res.time}}' class='icon-10' />
          <div class='h6 txt-black margin-left-5'>{{item.duration}}/节</div>
        </div>


      </div>


      <div class='flex-row flex-center flex-1'>
        <img class='icon-10  ' src='{{uploadpath}}resource/{{res.jg_icon}}' />
        <div class='h6 flex-1 margin-left-5 txt-gray'>{{item.JG_jigou}}</div>
        <div class=' txt-red h6 padding-top-10'>￥</div>

        <div class=' txt-red txt-bold'>{{item.zuidijia}}</div>
      </div>

      <div class='flex-row flex-center'>
        <div class='h6 flex-1 chaochu txt-gray'>{{item.JG_showaddress}}</div>
        <div class='h6 txt-gray'>{{item.miletxt}}</div>
      </div>

    </div>

  </div>



  </div>

  <div class='' *ngIf='shows=="wait"'>

    <div *ngIf="jgvlist.length==0">
      <div class='flex-row text-center'>
        <div class='flex-1'>

        </div>

        <div>

          <div class='nofound-img'>
            <img class='sp3' lazy-load='{{true}}' mode='widthFix'
              src='{{uploadpath}}resource/{{res.nofound}}' />
          </div>
          <div class='h5 txt-gray'>
            未找到您需要的机构
          </div>
      </div>
      <div class='flex-1'>

      </div>
    </div>
  </div>



  <div [class.hidden]='jgvlist.length==0' *ngFor='let item of jgvlist' 
  wx:key='k' id='{{item.id}}' (click)='tojgdetails($event)'
    style='position: relative; ' class='h564'>
    <div class=' padding-20' style=''>
      <img src='{{uploadpath}}mechanism/{{item.jg_img}}' lazy-load='{{true}}' class='h390 radius-10 '
        style='width:100%;' />
    </div>

    <div class='flex-row flex-column '>
      <div class='radius-10 bg-white  mid margin-bottom-10'>

        <div class='padding-20 '>

          <div class='flex-row flex-center'>


            <div class="flex-row flex-center flex-1 ">
              <div class='txt-black txt-bold  chaochu mw400' style="">{{item.jigou}}</div>
              <img *ngIf="item.renzhen=='是'" src="{{uploadpath}}resource/{{res.renzheng}}"
                class="icon13 margin-left-10" />
            </div>

            <div class="starbox text-right">
              <div class="stars" style="width: 100%;">
                <div class=" ims">
                  <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
                </div>
              </div>

              <div class="stars2" style="width: {{item.pingfen==''?item.scoring*20:item.pingfen*20}}%">
                <div class="ims">
                  <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
                </div>
              </div>

            </div>

          </div>


          <div class='flex-row flex-center margin-top-5'>
            <div class='flex-row flex-1'>
              <div class='  radius-10 txt-green h6 biaoqian text-center margin-5'
                style='border:1px solid {{litem.color}};color:{{litem.color}}' *ngFor="let litem of item.labels;let idx=index;" wx:key="k"
                >{{litem.name}}</div>
            </div>
            <div class='f20 txt-gray'>已预约{{item.people_num}}人</div>
          </div>


          <div class='flex-row flex-center margin-top-5'>
            <!-- <img class='icon-15 ' src='{{uploadpath}}resource/{{res.zuobiao}}' /> -->
            <div class='flex-1 h5 margin-left-10 txt-black dizhi'>{{item.showaddress}}</div>
            <div class='h6 '>{{item.miletxt}}</div>
          </div>


        </div>

      </div>
    </div>



  </div>



  <div class='height-20'></div>



  </div>

</ion-content>