.cc {
    display: block;
    margin-top: -5px;
    margin-right: 5px;
}
.card{
    padding-left: 50px;
    padding-right: 50px;
    width: 600px;
}
.red{
    color: red;;
}

.registerbody{
    background: linear-gradient(34deg, rgba(255, 152, 9, 1) 0%, rgba(255, 193, 44, 1) 100%);
}
.incard{
    padding:50px;
}