<div class="register-page">
  <div class="register-box">

    <div class="register-logo">
      <b>{{instinfo.name}}</b>
    </div>

    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">注册</p>

        <form action="../../index.html" method="post">
          <div class="input-group mb-3">
            <span class="txt-red-ff5 cc">*</span>
            <input type="text" class="form-control" placeholder="请输入姓名" [(ngModel)]='name' name='name'>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <span class="txt-red-ff5 cc">*</span>
            <input type="email" class="form-control" placeholder="请输入邮箱" [(ngModel)]='email' name='email'>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <span class="txt-red-ff5 cc">*</span>
            <input type="email" class="form-control" placeholder="请输入电话" [(ngModel)]='mobile' name='mobile'>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-mobile"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <span class="txt-red-ff5 cc">*</span>
            <input type="password" class="form-control" placeholder="请输入密码" [(ngModel)]='password' name='password'>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <span class="txt-red-ff5 cc">*</span>
            <input type="password" class="form-control" placeholder="请再次确认密码" [(ngModel)]='password2' name='password2'>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <span class="txt-red-ff5 cc">*</span>
            <input type="email" class="form-control" placeholder="请输入公司名称" [(ngModel)]='gonsi' name='gonsi'>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-address-card"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <span class="txt-red-ff5 cc">*</span>
            <input type="email" class="form-control" placeholder="请输入公司地址" [(ngModel)]='address' name='address'>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-address-card"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <span class="txt-red-ff5 cc">*</span>
            <div>营业执照</div>
            <nz-upload class="avatar-uploader" nzAction="{{uploadapi}}?module=instregister&field=file&rettype=json"
              nzListType="picture-card" [nzShowUploadList]="false" (nzChange)="afterupload($event)">
              <ng-container *ngIf="!zhizhao">
                <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                <div class="ant-upload-text">上传</div>
              </ng-container>
              <img *ngIf="zhizhao!=''" src="{{uploadpath}}instregister/{{zhizhao}}" style="width: 100%" />
            </nz-upload>
          </div>
          <div class="row">
            <div class="col-8">
              <!-- <div class="icheck-primary">
                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                <label for="agreeTerms">
                  I agree to the <a href="#">terms</a>
                </label>
              </div> -->
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block" (click)='submit()'>注册</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

       

        <a href="/login" class="text-center">我已有账号</a>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
</div>
<!-- /.register-box -->