@function rpx($px) {
    @return ($px * 100vw) / 750;
}

/* pages/purchase/purchase.wxss */
Page{
    background: #f5f5f5;
  }
  .bg-f5 {
    background: #f5f5f5;

  }
  .txt{
    color: #FFC200;
  }
  .block{
    padding-left: rpx(20);
    padding-top: rpx(20);
    padding-bottom: rpx(20);
  }
  .icon{
    height: rpx(168);
    width: rpx(168);
  }
  
  .bor_top{
    border-top:rpx(1) solid #e5e5e5
  }
  
  .fixedbottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
  }
  .phone_btn{
    width: rpx(160);
    background: red;
    height: rpx(50);
    line-height: rpx(50);
  }
  .modal-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    overflow: hidden;
    z-index: 9000;
    color: #fff;
  }
  .modal-dialog {
    width: 100vw;
    overflow: hidden;
    position: fixed;
    bottom:0;
   
    z-index: 9999;
    background: #f9f9f9;
  
  
  }.nande{
  color:#FFFFFF;
  background-color: #4FB5E6;
  padding: rpx(5) rpx(20) rpx(5) rpx(20);
  border-radius: rpx(20);
  margin-left: rpx(20);
  font-size: rpx(20);
  }
  .nvde{
  color:#FFFFFF;
  background-color: #FF8686;
  padding: rpx(5) rpx(20) rpx(5) rpx(20);
  border-radius: rpx(20);
  margin-left: rpx(20);
  font-size: rpx(20);
  
  }
  .tuan_btn{
     
  width: 85%;
  padding-top:rpx(20);
  padding-bottom:rpx(20);
  background-color: #FF6600;
  color: white;
  border-radius: rpx(40);
  
  
  
  }

  .w20{
    width:rpx(20)
  }

  .pb30{
    padding-bottom:rpx(30);
  }

  .h120{
    height:rpx(120);
  }

  .w276{
    width:rpx(276);
  }