<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{heading}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="padding-20 bg-white  flex-row flex-center">
    <div data-val="yesterday" (click)="binddate($event)" class="{{date=='yesterday'?'opt':'noopt'}}">昨天</div>
    <div data-val="7days" (click)="binddate($event)" class="{{date=='7days'?'opt':'noopt'}}">近7天</div>
    <div data-val="all" (click)="binddate($event)" class="{{date=='all'?'opt':'noopt'}}">全部</div>
    <div class="flex-1"></div>
   
  </div>
  <div class="padding-20 h6" style="color:rgba(161, 161, 161, 1)">
    共{{quanbu.length}}笔订单
  </div>
  <div **ngFor="{{quanbu}}" wx:key="k">
    <div class="bg-white margin-top-20">
      <div class="margin-20 bg flex-row flex-center">
        <div class="h5">买家：{{item.membername}}</div>
        <div class="flex-1"></div>
        <div class="h5">已结算</div>
      </div>
      <div class="margin-20 bg">
        <div class=" h6" style="color:rgba(161, 161, 161, 1)">
          订单编号：{{item.orderno}}
        </div>
        <div class=" h6 margin-top-10" style="color:rgba(161, 161, 161, 1)">
          下单时间：{{item.submit_time}}
        </div>
      </div>
      <div class="margin-20 flex-row bg">
        <img *ngIf="item.course_id!=0" class="icon-100 dd" mode="widthFix"
          src="{{uploadpath}}curriculum/{{item.kcimg}}" />
        <img *ngIf="item.onlineclassroom_id!=0" class="icon-100 dd" mode="widthFix"
          src="{{uploadpath}}onlineclassroom/{{item.zxkcimg}}" />
        <div class="margin-left-20">
          <div class="flex-row">
            <div *ngIf="item.course_id!=0" class="h5 w400">{{item.kcname}}</div>
            <div *ngIf="item.onlineclassroom_id!=0" class="h5 w400">{{item.zxkcname}}</div>
            <div class="margin-left-20 h5">x1</div>
          </div>

          <div class="h5 margin-top-10" style="color:rgba(255, 82, 82, 1)">{{item.ddfenxiaobili*100}}%</div>



        </div>




      </div>
      <div class=" padding-20 flex-row flex-center">
        <div class="flex-1"></div>
        <div class="f-26"> 商品佣金 ：￥{{item.yonjin}}</div>
        <div class="f-22" style="color:rgba(153, 153, 153, 1)">（订单总价：￥{{item.amount}}）</div>

      </div>
    </div>
  </div>

</ion-content>