<div class="loginbody flex-row2 flex-center2">
  <div class="flex-1"></div>
  <div>
    <div class="flex-row2">
      <div >
        <img class="loginbg" src="{{uploadpath}}resource/{{res.loginbg}}" />
      </div>
      <div>
        <div  class="loginbox">
          <div class="t1">找回密码</div>
          <div class="t2">学榜管理中心</div>
          <div class="ipt t4">
            <div class="flex-row2 flex-center2">
              <div>
                <img src="{{uploadpath}}resource/{{res.username}}" />
              </div>
              <div class="flex-1">
                <input type="text"  [(ngModel)]='mobile' placeholder="请输入手机号码" (keyup)='error=""'/>
              </div>
            </div>
          </div>
          <span *ngIf="error!=''" class="error invalid-feedback {{error!=''?'dis-block':''}}" >{{error}}</span>
          <div class="ipt t5">
            <div class="flex-row2 flex-center2">
              <div>
                <img src="{{uploadpath}}resource/{{res.yanzhenma}}" />
              </div>
              <!-- <div > -->
                <input type="text" maxlength="10" style="width: 120px;" [(ngModel)]='yanzhenma' placeholder="请输入验证码" />
              <!-- </div> -->
              <div class="flex-1"></div>
              <div class="yzm" *ngIf='reminder==0 && send==false' (click)='sendyanzhenma()'> 发送验证码</div>
              <div class="txt-ff6 h6" *ngIf='reminder>0'> {{reminder}}秒后重新发送</div>
              <div class="txt-ff6 h6" *ngIf='reminder<=0 && send==true' (click)='sendyanzhenma()'> 再次发送验证码</div>
            </div>
          </div>
          <span *ngIf="errorverifycode!=''" class="error invalid-feedback {{errorverifycode!=''?'dis-block':''}}" >{{errorverifycode}}</span>
          <div class="ipt t5">
            <div class="flex-row2 flex-center2">
              <div>
                <img src="{{uploadpath}}resource/{{res.password}}" />
              </div>
              <div class="flex-1">
                <input type="password"  [(ngModel)]='password' placeholder="请重新设置密码" (keyup)='errorpassword=""' [class.is-invalid]='errorpassword!=""' />
              </div>
            </div>
          </div>
          <span *ngIf="errorpassword!=''" class="error invalid-feedback {{errorpassword!=''?'dis-block':''}}">{{errorpassword}}</span>
          <div class="ipt t5">
            <div class="flex-row2 flex-center2">
              <div>
                <img src="{{uploadpath}}resource/{{res.password}}" />
              </div>
              <div class="flex-1">
                <input type="password"  [(ngModel)]='password2' placeholder="请输入确认密码" (keyup)='errorpassword=""'/>
              </div>
            </div>
          </div>

          <div class="t4 flex-row2 flex-center2">
            
            <div class="btnlogin"  (click)='queding()'>确定</div>
            <div class="flex-1"></div>
            <div class="btnregister"  (click)='back()'>返回</div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center ">
      <img class="loginlogo"  src="{{uploadpath}}resource/{{res.loginlogo}}" />
    </div>
  </div>
  <div class="flex-1"></div>
</div>

<div class="modal fade" id="modal-xl">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div style="width:100%;height: 900px; overflow-y: scroll;">
          <img src="{{uploadpath}}resource/{{res.zhuce}}" mode='widthFix' style="width:100%;">
        </div>
          
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


