<ion-header>
    <ion-toolbar  color='primary'>
        <ion-buttons slot="start">
          <ion-button (click)='back()'>
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>{{heading}}</ion-title>
      </ion-toolbar>
</ion-header>

  <ion-content >


<!--pages/jifenshouzhi/jifenshouzhi.wxml-->
<img class="backhome" src="{{uploadpath}}resource/{{res.fanhui}}" (click)="backHome()" />
<div class=' to_top' >
 <img src='{{uploadpath}}resource/{{res.totop}}' class='icon-50' bindtap='backtotop' />
</div>
<div class="flex-row flex-center title bg-white" style="">

  <div class="flex-row flex-column flex-1 margin-left-20" bindtap="xuanze" id="shouru">
    <div class="h5 {{show==1?'txt-bold':''}}">收入</div>
    <div class="tiao  {{show==1?'bg-orange':'bg-white'}}"></div>
  </div>

  <div class="flex-row flex-column flex-1 margin-right-20" bindtap="xuanze" id="zhichu">
    <div class="h5 {{show==2?'txt-bold':''}}">支出</div>
    <div class="tiao {{show==2?'bg-orange':'bg-white'}}"></div>
  </div>

</div>



<div **ngIf='{{show==1}}' >

  <div style="height:52rpx" class="flex-row flex-center">
    <div class="h6 txt9 margin-left-20 flex-1">2019年</div>
    <div class="h6 txt9">增加</div>
    <img src="{{uploadpath}}resource/{{res.jf_minicon}}" class="icon-10 margin-left-10" />
    <div class=" txt9 h6 margin-right-30">{{shousum}}</div>
  </div>

  <div class="bg-white flex-row flex-center shouru {{idx>0?'border-top':''}}"   **ngFor='{{jilulist}}' wx:key='k' **ngIf='{{item.type=="B"}}' wx:for-index='idx'>

    <div class="flex-row column flex-1">
      <div class="h5">{{item.name}}</div>
      <div class="txt9" style="font-size:20rpx;">{{item.created_date}}</div>
    </div>

    <div class="flex-row flex-center">
      <img src="{{uploadpath}}resource/{{res.jf_minicon}}" class="icon-10 margin-left-10" />
      <div class="txt-bold txt9  margin-right-30 margin-left-10" style="color:#FFC22F">+{{item.jifen}}</div>
    </div>

  </div>

</div>


<div **ngIf='{{show==2}}'>

  <div style="height:52rpx" class="flex-row flex-center">
    <div class="h6 txt9 margin-left-20 flex-1">2019年</div>
    <div class="h6 txt9">支出</div>
    <img src="{{uploadpath}}resource/{{res.jf_minicon}}" class="icon-10 margin-left-10" />
    <div class=" txt9 h6 margin-right-30">{{zhisum}}</div>
  </div>

  <div class="bg-white flex-row flex-center shouru {{idx>0?'border-top':''}}" wx:for-index='idx' style="border-top:2rpx solid #E5E5E5"  **ngFor='{{jilulist}}' wx:key='l' **ngIf='{{item.type=="A"}}'>

    <div class="flex-row column flex-1">
      <div class="h5">{{item.name}}</div>
      <div class="txt9" style="font-size:20rpx;">{{item.created_date}}</div>
    </div>

    <div class="flex-row flex-center">
      <img src="{{uploadpath}}resource/{{res.jf_minicon}}" class="icon-10 margin-left-10" />
      <div class=" txt-bold   margin-right-30" >{{item.jifen}}</div>
    </div>

  </div>

</div>

  </ion-content>
