<ion-header>
      <ion-toolbar  color='primary'>
          <ion-buttons slot="start">
            <ion-button (click)='back()'>
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{heading}}</ion-title>
        </ion-toolbar>
  </ion-header>

    <ion-content >


<!--pages/zaixianketang/zaixianketang.wxml-->

<img class="backhome" src="{{uploadpath}}resource/{{res.fanhui}}" (click)="backHome()" />

<div **ngIf===="{{isios==false}}">
  <div class=' to_top'>
    <img src='{{uploadpath}}resource/{{res.totop}}' class='icon-50' bindtap='backtotop' />
  </div>
  <swiper indicator-dots='true' autoplay='false' interval='2000' duration='200' circular='true' style='width:100vw;height:350rpx;'>
    <swiper-item **ngFor===="{{lunbolist}}" wx:key="k">
      <view>
        <!-- mode="aspectFill"  bindtap='viewPhoto' -->
        <img src='{{uploadpath}}kecheng/{{item.img}}' style='width:100vw;height:350rpx;' class='lb' bindtap='bannerGo' id="{{item.id}}" />
      </div>
    </swiper-item>
  </swiper>



  <div class='menu-padding flex-row flex-center flex-wrap bg-white'>

    <div bindtap='switchtype' data-id="-2" data-name="热门课程" style='width:20vw' class='flex-row  flex-column  '>
      <img hidden="{{!(-2==xz)}}" src='{{uploadpath}}resource/{{res.remen}}' class='icon-50 radius-50' />
      <img hidden="{{!(-2!=xz)}}" src='{{uploadpath}}resource/{{res.remenwx}}' class='icon-50 radius-50' />
      <div class='h6 margin-top-12 {{-2==xz?"txt-bold":""}}'>精选</div>
      <div **ngIf===="{{-2==xz}}" class="henxian"></div>
      <div **ngIf===="{{-2!=xz}}" class="nohenxian"></div>
    </div>
    <div bindtap='switchtype' data-id="-1" data-name="免费课程" style='width:20vw' class='flex-row  flex-column  '>
      <img hidden="{{!(-1==xz)}}" src='{{uploadpath}}resource/{{res.mianfei}}' class='icon-50 radius-50' />
      <img hidden="{{!(-1!=xz)}}" src='{{uploadpath}}resource/{{res.mianfeiwx}}' class='icon-50 radius-50' />
      <div class='h6 margin-top-12 {{-1==xz?"txt-bold":""}}'>免费</div>
      <div **ngIf===="{{-1==xz}}" class="henxian"></div>
      <div **ngIf===="{{-1!=xz}}" class="nohenxian"></div>
    </div>

    <div bindtap='switchtype' data-id="{{item.id}}" data-name="{{item.name}}" **ngFor===='{{fenleilist}}' wx:key="k" wx:for-index='idx' style='width:20vw' class='flex-row  flex-column  '>
      <img hidden="{{!(item.id==xz)}}" src='{{uploadpath}}onlineclassroomtype/{{item.img}}' class='icon-50 radius-50' />
      <img hidden="{{!(item.id!=xz)}}" src='{{uploadpath}}onlineclassroomtype/{{item.img_wx}}' class='icon-50 radius-50' />
      <div class='h6 margin-top-12 {{item.id==xz?"txt-bold":""}}'>{{item.name}}</div>
      <div **ngIf===="{{item.id==xz}}" class="henxian"></div>
      <div **ngIf===="{{item.id!=xz}}" class="nohenxian"></div>
    </div>


  </div>

  <div **ngIf===="{{xz==-2}}" class='text-center f18 txt-bold margin-top'>
    最新上架
  </div>
  <div **ngIf===="{{xz==-2}}" class='flex-row flex-center flex-wrap padding-bottom-40'>
    <div bindtap='kechenxianqin' data-id='{{item.onlineclassroom_id}}' class='kecheng-block ' **ngFor===='{{zuixin}}' wx:key='k'>

      <div style=''>
        <img class='kecheng-img' src='{{uploadpath}}onlineclassroom/{{item.onlineclassroom_img}}' />
      </div>

      <div class='padding-12'>
        <div class=' txt-bold chaochu'>{{item.onlineclassroom_name}}</div>



        <div class='flex-row flex-center margin-top-14'>
          <div class='flex-row flex-center'>
            <img src='{{uploadpath}}resource/{{res.nianlin}}' class='icon-16 ' />
            <div class=' f20 margin-left-10'>{{item.onlineclassroom_age_name}}</div>
          </div>

          <div class='flex-row flex-center margin-left-26'>
            <img src='{{uploadpath}}resource/{{res.zhanjie}}' class='icon-16 ' />
            <div class=' f20 margin-left-10'>共{{item.onlineclassroom_chapter_num}}集</div>
          </div>
        </div>


      </div>
      <div **ngIf===="{{item.onlineclassroom_isfree!='Y'&&item.idd=='N'}}" class='margin-left-10 dd flex-row flex-center margin-top-12'>
        <div class='margin-top-4 f20 txt-gray flex-1 '>{{item.onlineclassroom_learning_num}}人学过</div>
        <div class='margin-top-4 f20 txt-gray  xhx'>￥{{item.onlineclassroom_originalprice}}</div>
        <div class='margin-top-4 h6 txt-red margin-left-6'>￥</div>
        <div class=' txt-red xg' style=''>{{item.onlineclassroom_price}}</div>
      </div>

      <div **ngIf===="{{item.onlineclassroom_isfree=='Y'&&item.idd=='N'}}" class='margin-left -10 flex-row flex-center margin-top-12'>
        <div class='margin-top-4 f20 txt-gray  flex-1 '>{{item.onlineclassroom_learning_num}}人学过</div>
        <div class="mianfei">免费课程</div>
      </div>
      <div **ngIf===="{{item.idd!='N'}}" class='margin-left-10 flex-row flex-center margin-top-12'>
        <div class='margin-top-4 f20 txt-gray  flex-1 '>{{item.onlineclassroom_learning_num}}人学过</div>
        <div class="yigou">已购</div>
      </div>

    </div>
  </div>
  <div class='text-center f18 txt-bold  {{xz==-2?"":"margin-top"}} '>


    {{name}}
  </div>

  <div class='flex-row flex-center flex-wrap padding-bottom-40'>




    <div bindtap='kechenxianqin' data-id='{{item.id}}' class='kecheng-block ' **ngFor===='{{xzlist}}' wx:key='k'>

      <div style=''>
        <img class='kecheng-img' src='{{uploadpath}}onlineclassroom/{{item.img}}' />
      </div>

      <div class='padding-12'>
        <div class=' txt-bold chaochu'>{{item.name}}</div>



        <div class='flex-row flex-center margin-top-14'>
          <div class='flex-row flex-center'>
            <img src='{{uploadpath}}resource/{{res.nianlin}}' class='icon-16 ' />
            <div class=' f20 margin-left-10'>{{item.age_name}}</div>
          </div>

          <div class='flex-row flex-center margin-left-26'>
            <img src='{{uploadpath}}resource/{{res.zhanjie}}' class='icon-16 ' />
            <div class=' f20 margin-left-10'>共{{item.chapter_num}}集</div>
          </div>
        </div>


      </div>
      <div **ngIf===="{{item.isfree_value!='Y'&&item.idd=='N'}}" class='margin-left-10 dd flex-row flex-center margin-top-12'>
        <div class='margin-top-4 f20 txt-gray flex-1 '>{{item.learning_num}}人学过</div>
        <div class='margin-top-4 f20 txt-gray  xhx'>￥{{item.originalprice}}</div>
        <div class='margin-top-4 h6 txt-red margin-left-6'>￥</div>
        <div class=' txt-red xg' style=''>{{item.price}}</div>
      </div>

      <div **ngIf===="{{item.isfree_value=='Y'&&item.idd=='N'}}" class='margin-left -10 flex-row flex-center margin-top-12'>
        <div class='margin-top-4 f20 txt-gray  flex-1 '>{{item.learning_num}}人学过</div>
        <div class="mianfei ">免费课程</div>
      </div>
      <div **ngIf===="{{item.idd!='N'}}" class='margin-left-10 flex-row flex-center margin-top-12'>
        <div class='margin-top-4 f20 txt-gray  flex-1 '>{{item.learning_num}}人学过</div>
        <div class="yigou">已购</div>
      </div>

    </div>


  </div>

  <div **ngIf===="{{(remenkechen.length>0&&xz=='-2')||(mianfeikechen.length>0&&xz=='-1')||xzlist.length>0}}" class="dibude flex-row flex-center ">
    <div class="flex-1"></div>

    <img src='{{uploadpath}}resource/{{res.daodile}}' mode='widthFix' class="daodile" />
    <!-- <div class="xian"></div>
  <div class="daodile">已经到底啦</div>
  <div class="xian"></div> -->
    <div class="flex-1"></div>
  </div>
</div>
<div **ngIf===="{{isios==true}}">
<img bindtap="viewPhoto" id="{{uploadpath}}resource/{{res.gotoketang}}" style="width:100vw;height:100vh"  src="{{uploadpath}}resource/{{res.gotoketang}}" />


</div>

    </ion-content>
