@function rpx($px) {
  @return ($px * 100vw) / 750;
}

ion-content{
  --background:#f5f5f5
  }
.menu-padding {
  padding-left: rpx(32);
  padding-top: rpx(28);
  padding-right: rpx(32);
 
}
.ceshi {
  width: 19vw;
  padding-top: rpx(16);
  padding-bottom: rpx(16);
  padding-right: rpx(10);
  border-radius: rpx(20);
  
}
.mid{
  width: 85.5%;
  height:  rpx(196);
  margin-top:  rpx(30);
  /* opacity: 0.8; */
  box-shadow: 1px 1px 5px #dfdfdf;
}
.sx{
  width: 100vw;
  height: rpx(80);
  background: #FFC200;
}
.search_icon {
  width: rpx(35);
  height: rpx(30);
}
.search {

  border-radius: rpx(30);
  background-color: #F9FAFB;
}
.ss1 {
  width: 100vw;
  height: rpx(370);
}
/* .gd{
  height: 70rpx;
} */
.margin-top-12 {
  margin-top: rpx(12);
}
chaochu2{
  overflow:hidden; 

text-overflow:ellipsis; 

display:-webkit-box; 

-webkit-box-orient:vertical; 

-webkit-line-clamp:2; 

}
.kecheng-block {
  width: rpx(330);
  
  background: rgba(255, 255, 255, 1);
  box-shadow: rpx(0) rpx(4) rpx(12) rpx(0) rgba(0, 0, 0, 0.1);
  border-radius: rpx(8);
  margin-left: rpx(30);
  margin-top: rpx(30);
}
.xhx{
text-decoration: line-through

}
.padding-bottom-40 {
  padding-bottom: rpx(40);
}
.height-30{
  height: rpx(30);
}
.kecheng-img {
  height: rpx(330);
  width: 100%;
  border-radius:rpx(8);
  /* border: 1rpx solid black; */
  /* background: rgba(216, 216, 216, 1); */
}

.padding-12 {
  padding: rpx(12);
  padding-bottom:rpx(5);
}

.f-16 {
  font-size: rpx(16);
}

.margin-top-8 {
  margin-top: rpx(8);
}

.margin-top-14 {
  margin-top: rpx(14);
}

.margin-top-12 {
  margin-top: rpx(0);
}

.f20 {
  font-size: rpx(20);
}
.xg{

padding-right:rpx(15);

}
.dd{
  margin:rpx(15);
  margin-top:rpx(5);
}

.txt-gray {
  color: #999;
}

.icon-16 {
  width: rpx(30);
  height: rpx(30);
}
.margin-left-6{
  margin-left: rpx(6);
}
.margin-left-10{
  margin-left: rpx(6);
}
.margin-left-26{
  margin-left: rpx(26);
}
.txt-red{
  color: #FF5252
}
.h11{
  font-size: rpx(22);
}
.margin-top-4{
  margin-top: rpx(4);
}
.henxian{

background-color:#FFC200;
height: rpx(6);
width: rpx(50);
margin-top:rpx(5);
margin-bottom:rpx(30);
border-radius: rpx(5);

}
.nohenxian{


  height: rpx(6);
  width: rpx(50);
  margin-top:rpx(5);
  margin-bottom:rpx(30);
  border-radius: rpx(5);

}
.mianfei{
  font-size: rpx(24);
   color:white;
   background-color: #FFC200;
   padding:rpx(15);
   padding-left:rpx(30);
   border-top-left-radius:rpx(30);
    font-weight: bolder;
}
.yigou
{
 font-size: rpx(24);
   color:white;
   background-color:#CCCCCC;
   font-weight: bolder;
   padding:rpx(15);
    padding-left:rpx(20);
   padding-right: rpx(20);
   border-top-left-radius:rpx(30);
}

.lb{
width:100vw;height:rpx(350);
}
.dibude{

height: rpx(150);

width: 100vw;

}
.xian{
  width: rpx(100);
  height: rpx(1);
  background: white;
}
.daodile{
width:60vw;
height:rpx(80);

}