@function rpx($px) {
  @return ($px * 100vw) / 750;
}

/* pages/teacher/teacher.wxss */



.top_block {
  height: rpx(202);
  background: linear-gradient(110deg, rgba(255, 190, 49, 1) 0%, rgba(255, 139, 15, 1) 100%);
}

.icon-huowu {
  width: rpx(56);
  height: rpx(56);
}

.mid_block {
  height: rpx(168);
  background: rgba(255, 255, 255, 1);
}

.icon-zuobiao {
  width: rpx(48);
  height: rpx(48);
}

.shangpin {
  padding: rpx(28) rpx(28) rpx(28) 0px;
  background: rgba(255, 255, 255, 1);
}

.margin-left-28 {
  margin-left: rpx(28);
}

.margin-right-28 {
  margin-right: rpx(28);
}

.icon-img {
  width: rpx(168);
  height: rpx(168);
  border-radius: rpx(8);
}

.icon-right {
  width: rpx(14);
  height: rpx(24);
}

.width-56 {
  width: rpx(112);
}

.bottom_block {
  height: rpx(202);
  padding: rpx(28) rpx(28) rpx(28) 0px;
  background: rgba(255, 255, 255, 1);
}

.margin-left-52 {
  margin-left: rpx(52);
}

.btn {
  width: rpx(148);
  height: rpx(52);
  font-size: rpx(22);
  border-radius: rpx(30);
  border: 1px solid rgba(204, 204, 204, 1);
}

.bottom {
  position: fixed;
  width: 100vw;
  height: rpx(100);
  bottom: 0;
  background: white;
}

.jisuan {
  width: rpx(60);
  height: rpx(60);
  border-radius: rpx(8);
  border: 1px solid rgba(245, 245, 245, 1);
}

.shuliang {
  width: rpx(120);
}

.jisuan view {
  font-size: rpx(28);
}

.jisuan.inactive view {
  color: rgba(245, 245, 245, 1);
}

.paybtn {
  width: rpx(300);
  background: rgba(255, 102, 0, 1);
  border-radius: rpx(36);
  padding-top: rpx(16);
  padding-bottom: rpx(16);
  font-size: rpx(28);
}
.bg{
  position: fixed;
  background: rgba(0,0,0,0.5);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  left: 0px;
  top: 0px;
}
.h100{
  height: 100%;
}

.sel{
  width: rpx(540);
  padding:rpx(14);
  border-radius: rpx(8);
  background: white;
}
.sel .querenduihuan{
  margin-top: rpx(100);
  width:rpx(300);
}
.t1{
  margin-top: rpx(34);
}
.t1 view{
  font-size: rpx(32);
}
.t1 .txt-price{
  color:#FF6600;
  font-weight: 400;
  font-size: rpx(40);
}

.t2{

  margin-top: rpx(60);
}

.gehe{
  width: 1px;
  height: rpx(96);
  background: #F5F6F8;
}

.qx{
  color:#CCCCCC;
  font-size: rpx(30);
  height: rpx(96);
}
.qr{
  color:#FF6600;
  font-size: rpx(30);
  height: rpx(96);
}
.ml40{
  margin-left: rpx(40);
}
.ml30{
  margin-left: rpx(30);
}
.mlr36{
  margin-left: rpx(36);
  margin-right: rpx(36);
}
.h120{
  height:rpx(120);
}
.mr24{

  margin-right: rpx(24);
}