<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding-20">

    <div class="h3">设置密码</div>
    <div class="mima flex-row flex-center">


     
      <ion-input [(ngModel)]="shoujihao" inputmode="tel" maxlength="11" placeholder="输入密码"
        placeholder-style="color:#C8C8C8;margin-left-20" class="flex-1 margin-left-20 shuruk"></ion-input>
    </div>

    <div class="mima1 flex-row flex-center">


     
      <ion-input [(ngModel)]="shoujihao" inputmode="tel" maxlength="11" placeholder="输入密码"
        placeholder-style="color:#C8C8C8;margin-left-20" class="flex-1 margin-left-20 shuruk"></ion-input>
    </div>

  </div>
</ion-content>
