@function rpx($px) {
    @return ($px * 100vw) / 750;
  } 
  ion-content{   
    --background:#F7F7F7;
    } 
  .mima1{

    width:100%;
    height: rpx(100);
    border-radius: rpx(49);
    background: #FFFFFF;
    margin-top:rpx(50);

  }

  .mima{

    width:100%;
    height: rpx(100);
    border-radius: rpx(49);
    background: #FFFFFF;
    margin-top:rpx(260);

  }