@function rpx($px) {
    @return ($px * 100vw) / 750;
  } 
  ion-content{   
    --background:#F7F7F7;
    } 
    ion-toolbar{
      --background:#F7F7F7; 
    }
  .mima1{

    width:100%;
    height: rpx(100);
    border-radius: rpx(49);
    background: #FFFFFF;
    margin-top:rpx(50);

  }
  .zhuce{
    width:100%;
    height: rpx(120);
    border-radius: rpx(60);
    background: #FF6600;
    margin-top:rpx(160);

    color:#FFFFFF;
    font-size: rpx(40);
    line-height: rpx(120);
    text-align: center;
  }
  .mima{

    width:100%;
    height: rpx(100);
    border-radius: rpx(49);
    background: #FFFFFF;
    margin-top:rpx(260);

  }