<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding-20">

    <div class="h3">设置密码</div>
    <div class="mima flex-row flex-center">


     
      <ion-input type="{{mima1?'text':'password'}}" [(ngModel)]="password1" inputmode="tel" maxlength="32" placeholder="输入密码"
        placeholder-style="color:#C8C8C8;margin-left-20" class="flex-1 margin-left-20 shuruk"></ion-input>
        <img (click)="mima1=!mima1" src="{{uploadpath}}resource/{{mima1==true?res.kejian:res.bukejian}}" class="icon-25 margin-20" />
    </div>

    <div class="mima1 flex-row flex-center">


     
      <ion-input type="{{mima2?'text':'password'}}" [(ngModel)]="password2" inputmode="tel" maxlength="32"  placeholder="输入密码"
        placeholder-style="color:#C8C8C8;margin-left-20" class="flex-1 margin-left-20 shuruk"></ion-input>
        <img (click)="mima2=!mima2" src="{{uploadpath}}resource/{{mima2==true?res.kejian:res.bukejian}}" class="icon-25 margin-20" />
    </div>

    <div class="h6 padding-20" style="color:#C8C8C8">密码长度8-32位，需包含数字、字母、符号至少两种 或以上元素</div>


    <div (click)="zhuce()" class="zhuce">同意协议并注册</div>

  </div>
</ion-content>
