<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
        <img class="icon-20 inactive" style='margin-top:5px;' src="assets/icon/sy.png" />
        <img class="icon-20 active" style='margin-top:5px;' src="assets/icon/sy1.png" />
      <ion-label class="f12"  style='margin-top:5px;'>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
        <img class="icon-20 inactive" style='margin-top:5px;' src="assets/icon/wd.png" />
        <img class="icon-20 active" style='margin-top:5px;' src="assets/icon/wd1.png" />
      <ion-label class="f12"  style='margin-top:5px;'>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
