<ion-header>
      <ion-toolbar  color='primary'>
          <ion-buttons slot="start">
            <ion-button (click)='back()'>
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{heading}}</ion-title>
        </ion-toolbar>
  </ion-header>

    <ion-content >


<!--pages/xuanzedizhi/xuanzedizhi.wxml-->

<img class="backhome" src="{{uploadpath}}resource/{{res.fanhui}}" (click)="backHome()" />


<div class="{{addresslist.length==0?'page':''}}">


  <div class='margin-20'>
    <div **ngIf='{{addresslist.length>0}}' class='margin-left-14 h5' style='color:#999999'>我的地址</div>


    <div **ngIf='{{addresslist.length==0}}' class="flex-row flex-column">
      <div style="height:100rpx;"></div>
      <img src="{{uploadpath}}resource/{{res.addressnull}}" class="icon-170 " />
      <!-- <div class="txt-9 margin-top-10">您还没有添加地址哦</div>
    <div class="h6 margin-top-8" style="color:#CCCCCC">点击下方添加吧~</div> -->
    </div>

    <div **ngFor='{{addresslist}}' wx:key='k'>
      <div class='hezi' bindtap="bindcheck" id="{{item.id}}">
        <div class='flex-row flex-center'>

          <div **ngIf='{{type==""||type==undefined}}'>
            <img src="{{uploadpath}}resource/{{res.weixuan}}" **ngIf='{{check!=item.id}}' class="icon-12" />
            <img src="{{uploadpath}}resource/{{res.xuanzhong}}" **ngIf='{{check==item.id}}' class="icon-12" />
          </div>

          <div class=" ">

            <div class='flex-row'>
              <div class='flex-row flex-center'>
                <div class='txt-bold f15' style='color:#222222'>{{item.name}}</div>
                <div class='margin-left-20 f15' style='color:#222222'>{{item.phonenumber}}</div>
              </div>
            </div>

            <div class='margin-top-20 f13 chaochu' style='color:#666666;width:400rpx'>{{item.region}}{{item.address}}</div>
          </div>

          <div class='flex-1'></div>

          <div bindtap='addressmanage' class="  padding-40" id="{{item.id}}">
            <img class='icon-32' src='{{uploadpath}}resource/{{res.fghy}}' />
          </div>

        </div>

      </div>
    </div>


    <div class="add margin-top-20 flex-row flex-center" **ngIf='{{type==""||type==undefined}}'  bindtap="addnew">
      <div class="flex-1"></div>
      <img src="{{uploadpath}}resource/{{res.jiadizhi}}" class="icon-15" />
      <div class="h5 margin-left-10" style="color:#999999" bindtap="addnew">添加新地址</div>
      <div class="flex-1"></div>
    </div>

    <div style="height:150rpx;"></div>

    <button class='but txt-white' **ngIf='{{type==""||type==undefined}}' bindtap="queren">确认</button>
    <button class='but txt-white' **ngIf='{{type=="Y"}}' bindtap="addnew">添加新地址</button>

  </div>


  <div **ngIf='{{show==true}}'>
    <div class='block_black'></div>

    <div class="white_black" **ngIf="{{kong==false}}">
      <div class="flex-row flex-column">
        <div style="height:80rpx;"></div>
        <!-- <img src="{{uploadpath}}resource/{{res.querenduihuan}}" class="icon-120" /> -->
         <div class="txt-bold">兑换失败</div>
        <div class="flex-row flex-center margin-top-34">
          <div class="f30">使用</div>
          <img src="{{uploadpath}}resource/{{res.jf_minicon}}" class="icon-15 margin-left-20" />
          <div class="margin-left-10" style="font-size:40rpx;color:#FF6600">{{xiaofei}}</div>
          <div class="f30 margin-left-20">进行兑换</div>
        </div>

        <div class="" style="height:60rpx;"></div>

        <div class="flex-row flex-center">
          <div class="f30 padding-30" style="color:#CCCCCC" bindtap="quxiao">取消</div>
          <div class="shu"></div>
          <div class="f30 padding-30" bindtap="quedin" id="{{MemberInfo.integral}}" style="color:#FF6600">确认</div>
        </div>

      </div>
    </div>

    <div class="white_black" **ngIf="{{kong==true}}">
      <div class="flex-row flex-column">
        <div style="height:100rpx;"></div>
         
         <div class="txt-bold">兑换失败</div>

        <div class="  margin-top-34">
          <view>您的积分数不足，无法兑换</div>
        </div>

        <div class="" style="height:60rpx;"></div>

        <div class="flex-row flex-center" style="border-top:1px solid #F5F5F5">
          <div class="f30 padding-30" style="color:#FF6600" bindtap="quxiao">我知道了</div>
        </div>


      </div>
    </div>

  </div>

</div>

    </ion-content>
