<div class="loginbody flex-row2 flex-center2">
  <div class="flex-1"></div>
  <div>
    <div class="flex-row2">
      <div >
        <img class="loginbg" src="{{uploadpath}}resource/{{res.loginbg}}" />
      </div>
      <div>
        <div  class="loginbox">
          <div class="t1">Login</div>
          <div class="t2">学榜管理中心</div>
          <div class="ipt t3">
            <div class="flex-row2 flex-center2">
              <div>
                <img src="{{uploadpath}}resource/{{res.username}}" />
              </div>
              <div class="flex-1">
                <input type="text"  [(ngModel)]='username' placeholder="请输入手机号码" (keyup)='error=""'/>
              </div>
            </div>
          </div>
          <span *ngIf="error!=''" class="error invalid-feedback {{error!=''?'dis-block':''}}" >{{error}}</span>
          <div class="ipt t4">
            <div class="flex-row2 flex-center2">
              <div>
                <img src="{{uploadpath}}resource/{{res.password}}" />
              </div>
              <div class="flex-1">
                <input type="password"  [(ngModel)]='password' placeholder="请输入登录密码" (keyup)='pwdkeup($event)'/>
              </div>
            </div>
          </div>
          
          <div class="t3 flex-row2 flex-center2">
            <div class="btnlogin"  (click)='login()'>登录</div>
            <div class="flex-1"></div>
            <div class="btnregister" (click)='navigate("register")'>注册</div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center ">
      <img class="loginlogo"  src="{{uploadpath}}resource/{{res.loginlogo}}" />
    </div>
  </div>
  <div class="flex-1"></div>
</div>


