<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{heading}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">


  <div id='dinbu'></div>
  <!--pages/shopmalldetail/shopmalldetail.wxml-->
  <div class=' to_top' *ngIf="scrolltop>300">
    <img src='{{uploadpath}}resource/{{res.totop}}' class='icon-50' (click)='backtotop($event)' />
  </div>
  <div *ngIf="info!=null">
    <img src="{{uploadpath}}shop/{{info.top_img}}" (click)="viewPhoto($event)" id="{{uploadpath}}shop/{{info.top_img}}"
      class="top-img" />


    <div class="padding-20" style="border-bottom:1px solid #F5F5F5">
      <div class="txt-bold">{{info.name}}</div>
      <div class="flex-row flex-bottom margin-top-20">
        <div class="h7 txt-price" *ngIf="info.istopvalue_value=='Y'">¥</div>
        <div class=" txt-bold h5 margin-left-10 f18 margin-right-10 txt-price" *ngIf="info.istopvalue_value=='Y'">
          {{info.price}}
        </div>
        <img src="{{uploadpath}}resource/{{res.jf_minicon}}" *ngIf="info.isscore_value=='Y'"
          class="icon-10 margin-left-10" />
        <div class=" txt-bold h5 margin-left-10 f18" *ngIf="info.isscore_value=='Y'" style="color:#FFBA12">
          {{info.interral}}
        </div>
        <div class="h5 margin-left-10 " style="color:#999999;text-decoration:line-through;">{{info.old_price}}元</div>
        <div class="flex-row  margin-left-10" *ngIf="info.label!=''">
          <div class='text-center tvlabel' [style.border-color]='info.labelcolor' [style.color]='info.labelcolor'>
            {{info.label}}</div>
        </div>
        <div class="flex-1"></div>

        <div class="flex-row flex-center">
          <img src="{{uploadpath}}resource/{{res.kucun}}" class="icon-15" />
          <div class="h6 margin-left-10 txt-6">库存 {{info.inventory}}</div>
        </div>

      </div>
    </div>

    <div class="flex-row flex-center padding-L-R h92" style="">
      <div class="txt-9 h6 flex-1 " *ngIf='info.freight!=0'>运费：免运费</div>
      <!-- {{info.freight}}元 -->
      <div class="txt-9 h6 flex-1 " *ngIf='info.freight==0'>运费：免运费</div>
      <div class="txt-9 h6">配送方式：{{info.peison}}</div>
      <div class="txt-9 h6" *ngIf='info.peison==""'>配送方式：快递</div>
    </div>

    <div style="background:#F5F5F5" class="h20"></div>


    <img src="{{uploadpath}}shop/{{info.long_img}}" mode='widthFix' style="width:100vw;" />


    <div class="fixedBottom bg-white">
      <div class="flex-row flex-center">
        <div class=" flex-1 flex-row">
          <div class="flex-1 text-center" (click)="backHome()">
            <img class="icon" src="{{uploadpath}}resource/{{res.gohome}}" />
            <div class="text-center h6">
              首页
            </div>
          </div>
          <div class="flex-1 text-center" *ngIf="false">
            <img class="icon" src="{{uploadpath}}resource/{{res.shopfav}}" />
            <div class="text-center h6">
              收藏
            </div>
          </div>

          <div class="flex-1 text-center" (click)="back()">
            <img class="icon" src="{{uploadpath}}resource/{{res.shopback}}" />
            <div class="text-center h6">
              返回
            </div>
          </div>


        </div>
        <div class="flex-1 shopbtn" *ngIf="info.istopvalue_value=='Y'||info.isscore_value=='Y'">

          <div class="btn" (click)="createInfo()">
            <div class="flex-row flex-center" style="height:100%;">
              <div class="flex-1"></div>
              <div class="txt-white h5">
                {{info.istopvalue_value=='Y'&&info.isscore_value=='Y'?"立即兑换":""}}
                {{info.istopvalue_value=='Y'&&info.isscore_value=='N'?"立即购买":""}}
                {{info.istopvalue_value=='N'&&info.isscore_value=='Y'?"立即兑换":""}}
              </div>
              <div class="flex-1"></div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>


  <div class="bg" *ngIf="showerror==true">
    <div class="flex-row flex-center h100">
      <div class="flex-1 h100"></div>
      <div class="sel">
        <div class="text-center">
          <img mode="widthFix" class="querenduihuan" src="{{uploadpath}}resource/{{res.jifenbugou}}" />
        </div>
        <div class="flex-row flex-bottom t1">
          <div class="flex-1"></div>
          <div>正在紧急补货中~</div>
          <div class="flex-1"></div>
        </div>
        <div class="flex-row flex-center t2">
          <div class="flex-1 text-center qr" bindtap="quxiaoduihuan">取消</div>
        </div>
      </div>
      <div class="flex-1 h100"></div>
    </div>
  </div>

</ion-content>