<ion-header>
      <ion-toolbar  color='primary'>
          <ion-buttons slot="start">
            <ion-button (click)='back()'>
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{heading}}</ion-title>
        </ion-toolbar>
  </ion-header>

    <ion-content >

<!--pages/shopinfo/shopinfo.wxml-->
<img class="backhome" src="{{uploadpath}}resource/{{res.fanhui}}" (click)="backHome()" />
<div class="top_block flex-row flex-center ">

  <img *ngIf='info.orderstatus=="A"' src="{{uploadpath}}resource/{{res.huowu}}" class="icon-huowu ml104" />
  <img *ngIf='info.orderstatus=="B"' src="{{uploadpath}}resource/{{res.baiche}}" class="icon-huowu ml104"  />
  <img *ngIf='info.orderstatus=="C"' src="{{uploadpath}}resource/{{res.wanc}}" class="icon-huowu ml104"  />
  <div class="txt-white margin-left-20">
    {{info.orderstatus_name}}
  </div>
</div>

<div class="bg-white">

  <div class="mid_block flex-row flex-center">
    <img src="{{uploadpath}}resource/{{res.diz}}" class="icon-zuobiao ml40"  />
    <div class="flex-row column flex-1 ml30" >
      <div class="h5">收货人：{{info.consignee}} {{info.mobile}}</div>
      <div class="h5 txt-6">{{info.address}}</div>
    </div>
  </div>

  <div class="margin-left-28  " style="height:1px;background:#F5F5F5" *ngIf='info.orderstatus=="B"||info.orderstatus=="C"'></div>

  <div (click)="towuliu()" class="mid_block flex-row flex-center" *ngIf='info.orderstatus=="B"||info.orderstatus=="C"'>
    <div class=" ">
      <img src="{{uploadpath}}resource/{{res.heiche}}" class="icon-zuobiao ml40"  />
    </div>
    <div class="flex-1 ml30" >
      <div class="h6 w580" >[深圳市]【已签收，签收人是本人】，感谢使用学榜快递，期待再次为您服务</div>
      <!-- <div class="h6 txt-6">2019-05-08 00:10:48</div> -->
    </div>

    <img src="{{uploadpath}}resource/{{res.xiangyou}}" class="icon-right margin-right-28" style="" />

  </div>

</div>




<div class="shangpin margin-top-20 ">

  <div (click)='gonavigator($event)' class="flex-row margin-left-28" url="/pages/shopmalldetail/shopmalldetail?id={{info.id}}" >
    <img src="{{uploadpath}}shop/{{info.img}}" class="icon-img" />

    <div class="txt-bold flex-1 ml36" > {{info.name}}</div>
    <div class="flex-row column">
      <div class="h6">{{info.danjia}} 积分</div>
      <div class="h6 text-right" style="color:#B0B0B0">x{{info.shuliang}}</div>
    </div>
  </div>

  <div class="flex-row flex-center margin-left-28 margin-top-10">
    <div class="h6 flex-1">运费（快递）</div>
    <div class="h6">￥0.00</div>
  </div>

  <div class="margin-left-28 margin-top-10" style="height:1px;background:#F5F5F5"></div>

  <div class="flex-row flex-center margin-left-28 margin-top-10">
    <div class="txt-bold h5 flex-1">使用积分</div>
    <div style="color:#FFBA12" class="h5 txt-bold">{{info.jifen}} 积分</div>
  </div>





</div>


<div class="bottom_block margin-top-20">
  <div class="flex-row flex-center margin-left-28 ">
    <div class="h5 width-56">订单号</div>
    <div class="h5 margin-left-52">{{info.orderid}}</div>
  </div>

  <div class="margin-left-28 margin-top-10" style="height:1px;background:#F5F5F5"></div>

  <div class="flex-row flex-center margin-left-28 margin-top-10">
    <div class="h5 width-56">支付方式</div>
    <div class="h5 margin-left-52">积分</div>
  </div>

  <div class="margin-left-28 margin-top-10" style="height:1px;background:#F5F5F5"></div>

  <div class="flex-row flex-center margin-left-28 margin-top-10">
    <div class="h5 width-56">下单时间</div>
    <div class="h5 margin-left-52">{{info.created_date}}</div>
  </div>
</div>


<div class="h140"></div>



<div class="bottom" *ngIf='info.orderstatus=="B"'>
  <div class="flex-row flex-center">
    <div class="flex-1"></div>

    <div *ngIf='info.orderstatus!="C"' id="{{info.id}}" (click)="shouhuoclick(info.id)" class="btn text-center margin-top-10 margin-right-28">
      确认收货
    </div>

    <div *ngIf='info.orderstatus=="C"' id="{{info.id}}" (click)="towuliu($event)" class="btn text-center margin-top-10 margin-right-28">
      查看物流
    </div>
  </div>
</div>


    </ion-content>
