<ion-header>
      <ion-toolbar  color='primary'>
          <ion-buttons slot="start">
            <ion-button (click)='back()'>
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{heading}}</ion-title>
        </ion-toolbar>
  </ion-header>

    <ion-content >

        <div class="flex-row flex-center">
            <div class="flex-1"></div>
          
            <div>
              <div *ngFor="let item of huodonlist" wx:key='k' (click)="listclick(item.id)" data-id="{{item.id}}" style="width:95vw" class="margin-top-10 margin-bottom-10">
          
          
                <img class="activityCover" src='{{uploadpath}}activity/{{item.activityCover}}' />
          
                <div class="activitycontent flex-row flex-center">
                  <div class="center">
                    <div  style="" class="txt-bold margin-left-40 margin-right-20 margin-top-10 chaochu2 h90">{{item.activityName}}</div>
          
                    <div style="color:#4C4C4C" class="h6 margin-left-20 margin-top-10">活动时间:{{item.activityTime}} </div>
                    <div style="color:#4C4C4C" class="h6 margin-left-20 margin-top-5">活动地点:{{item.activitySite}} </div>
          
          
          
                  </div>
                </div>
                <div class='height-160'></div>
              </div>
          
            </div>
            <div class="flex-1"></div>
          </div>


    </ion-content>
