<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{heading}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!--pages/jgdetails/jgdetails.wxml-->



  <img class="backhome" src="{{uploadpath}}resource/{{res.fanhui}}" (click)="backHome()" />

  <div class=' to_top'>
    <img src='{{uploadpath}}resource/{{res.totop}}' class='icon-50' (click)='backtotop()' />
  </div>

  <div style="" class="{{tanchuang==true?'tanchuang':''}}">
    <div class='' style='background:{{jginfo.bgcolor}}'>

      <div style='position:relative;'>
        <div style=' ' class=''>
          <ion-slides  [options]='mySwiperOption' indicator-dots='true' autoplay='false' interval='5000' duration='200' circular='true'
            class="sp2">
            <ion-slide *ngFor="let item of jigouimg;" wx:key="k">
              <div>
                <!-- mode="aspectFill"  (click)='viewPhoto' -->
                <img src='{{uploadpath}}jigouimg/{{item.img}}?x-oss-process=style/test_img' (click)='viewPhoto($event)'
                  id='{{uploadpath}}jigouimg/{{item.img}}' class="sp2" />
              </div>
            </ion-slide>
          </ion-slides>
        </div>
      </div>


      <div class="flex-row flex-column">

        <div *ngIf='tanchuang==true' class='radius-10 bg-white padding-15 shadow margin-bottom-10 mid'>


          <div class='padding-10 '>
            <div class='flex-row flex-center'>
              <div class='txt-black txt-bold  flex-1 chaochu'>{{jginfo.jigou}}</div>
              <img src="{{uploadpath}}resource/{{res.renzhen}}" class="icon-rz" *ngIf='jginfo.renzhen_value=="Y"' />
            </div>

            <div class="starbox text-right margin-top-10">
              <div class="stars" style="width: 100%;">
                <div class=" ims">
                  <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
                </div>
              </div>

              <div class="stars2" [width]="jginfo.pingfen==''?jginfo.scoring*20:jginfo.pingfen*20" [style.width.%]="width">
                <div class="ims">
                  <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
                </div>
              </div>

            </div>


            <div class='flex-row flex-center margin-top-10'>

              <div class='flex-row flex-1'>
                <div class=' biaoqian radius-10 txt-green h6 margin-5 text-center'
                  *ngFor="let litem of jginfo.labels"  [ngStyle]='{"border":"1px solid","border-color":litem.color,"color":litem.color}'
                  wx:key="k" >{{litem.name}}</div>
              </div>


            </div>

            <div class='flex-row flex-center margin-top-5 padding-10'>

              <div class='flex-row flex-column flex-1'>
                <div class="txt-gray h6">适合年龄</div>
                <div class='h6 txt-black  txt-bold  margin-top-10 '>{{jginfo.jg_age}}</div>
              </div>

              <div class='flex-row flex-column flex-1'>
                <div class="txt-gray h6">营业时间</div>
                <div class='h6 txt-black txt-bold  margin-top-10  '>{{jginfo.time}}</div>
              </div>

              <div class='flex-row flex-column flex-1'>
                <div class='h6 txt-gray '>需要预约</div>
                <div class='h6 txt-black txt-bold  margin-top-10'>{{jginfo.people_num}}人已预约</div>
              </div>

            </div>

            <div class='flex-row flex-center margin-top-10'>
              <div>
                <img class='icon-15 ' src='{{uploadpath}}resource/{{res.zuobiao}}' />
            </div>
            <div class='flex-1 h5 margin-left-10 txt-blue chaochu' (click)='openMap($event)' id="{{jginfo.address}}">
              {{jginfo.address}}</div>
            <div class='h6 txt-black txt-right txt-bold h150'  *ngIf="miletxt!=undefined">距你{{miletxt}}
            </div>
          </div>

        </div>

      </div>

      <div *ngIf='trunoff==false'>
        <div *ngIf='tanchuang==false' class='radius-10 bg-white padding-15    margin-bottom-10 mid'>


          <div class='padding-10 '>
            <div class='flex-row flex-center'>
              <div class='txt-black txt-bold  flex-1 chaochu'>{{jginfo.jigou}}</div>
              <img src="{{uploadpath}}resource/{{res.renzhen}}" class="icon-rz"
                *ngIf='jginfo.renzhen_value=="Y"' />
            </div>


            <div class="h10"></div>

            <div class="starbox text-right  ">

              <!-- {{jginfo.pingfen==''?jginfo.scoring*20:jginfo.pingfen*20}} -->
              <div class="stars_2" style="width:100%">
                <div class="ims ">
                  <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star}}" class="icon-star" />
                </div>
              </div>

              <div class="hiddenblock" [width]="jginfo.pingfen==''?(100-jginfo.scoring*20):(100-jginfo.pingfen*20)"
                [style.width.%]="width"></div>

              <div class="stars1 " style="width: 100%;">
                <div class="ims ">
                  <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
                  <img src="{{uploadpath}}resource/{{res.star_null}}" class="icon-star" />
                </div>
              </div>


            </div>


            <div class='flex-row flex-center  '>

              <div class='flex-row flex-1'>
                <div class=' biaoqian radius-10 txt-green h6 margin-5 text-center'
                  [ngStyle]='{"border":"1px solid","border-color":litem.color,"color":litem.color}' *ngFor="let litem of jginfo.labels;"
                  wx:key="k">{{litem.name}}</div>
              </div>

            </div>

            <div class='flex-row flex-center margin-top-5 padding-10'>

              <div class='flex-row flex-column flex-1'>
                <!-- <img src="{{uploadpath}}resource/{{res.nianlin}}" class="icon-13" /> -->
                <div class="txt-gray h6">适合年龄</div>
                <div class='h6 txt-black  txt-bold  margin-top-10 '>{{jginfo.jg_age}}</div>
              </div>

              <div class='flex-row flex-column flex-1'>
                <!-- <img src="{{uploadpath}}resource/{{res.shijian}}" class="icon-13" /> -->
                <div class="txt-gray h6">营业时间</div>
                <div class='h6 txt-black txt-bold  margin-top-10  '>{{jginfo.time}}</div>
              </div>

              <div class='flex-row flex-column flex-1'>
                <!-- <img src="{{uploadpath}}resource/{{res.yuyue}}" class="icon-13" /> -->
                <!-- <div class="txt-gray h6" >预约</div> -->
                <div class='h6 txt-gray '>需要预约</div>
                <div class='h6 txt-black txt-bold  margin-top-10'>{{jginfo.people_num}}人已预约</div>
              </div>

            </div>

            <div class='flex-row flex-center mt24' >
              <div>
                <img class='icon-15 ' src='{{uploadpath}}resource/{{res.zuobiao}}' />
              </div>
              <div class='flex-1 h5 margin-left-10 txt-blue chaochu' (click)='openMap($event)'
                id="{{jginfo.address}}">{{jginfo.address}}</div>
              <div class='h6 txt-black txt-right txt-bold w150'  *ngIf="miletxt!=''">
                距你{{miletxt}}</div>
            </div>

          </div>

        </div>
      </div>
    </div>


    <div class='margin-20 bg-white radius-10 shadow' *ngIf='jginfo.novideosummary_value!="Y"'>

      <div class='flex-row flex-center  radius-10 padding-20'>
        <!-- <div class='bg-primary margin-left-10' style='height:38rpx;width:10rpx;'></div> -->
        <img src="{{uploadpath}}resource/{{res.jg_jianjie}}" class="icon_jianjie" />
        <div class='margin-left-10 txt-bold'>机构简介</div>
      </div>

      <div class='padding-20'>

        <video class='pos sp5' *ngIf='jginfo.jg_video!=""'  object-fit="contain"
          autoplay='{{false}}' loop='{{false}}' controls src='{{uploadpath}}mechanism/{{jginfo.jg_video}}'>
        </video>

        <img class="sp5" mode='widthFix' *ngIf='jginfo.jg_video==""&&jginfo.waitimg!=""'
          src='{{uploadpath}}mechanism/{{jginfo.waitimg}}?x-oss-process=style/test_img' />

        <!-- <div style='width:100%;height:300rpx; ' class='bg-primary '>视频</div> -->
      </div>

      <div class="mt-30" >

        <div class="sp6">
          <p decode="{{true}}" space="ensp"
            class='  h5 margin-top-20   {{more==true?"chaochu5 height-210 padding-20":" "}}'
            style="">{{jginfo.jieshao}}</p>
        </div>
        <div class="flex-row flex-column">
          <div class="txt-blue h5 margin-bottom-20 margin-top-10" *ngIf='more==false' (click)="showmore()">查看更多</div>
          <div class="txt-blue h5 margin-bottom-20" *ngIf='more==true' (click)="shouqi()">收起</div>
        </div>
      </div>


    </div>

    <!-- <img src='{{uploadpath}}mechanism/{{jginfo.longimg}} ' mode='widthFix' style='width:100vw' /> -->


    <img src='{{uploadpath}}mechanism/{{jginfo.longimg}}?x-oss-process=style/test_img' mode='widthFix'
      style='width:100vw' />

    <div class='margin-20 margin-bottom-10 '>
      <div class='padding-20 flex-row radius-10  margin-top-20  mk' *ngFor='let item of courselist' wx:key='k'
        id='{{item.id}}' (click)='tokcdetails(item.id)' style='border:1px solid white '>

        <img class='kc_icon radius-10 ' src='{{uploadpath}}curriculum/{{item.kc_img}}?x-oss-process=style/test_img' />
        <div class='flex-row column   margin-left-20 flex-1'>
          <div class='txt-bold  flex-1' style='color:#000000'>{{item.name}}</div>

          <div class='flex-row flex-center'>

            <div *ngIf="item.scoring==5" class='flex-row flex-center '>
              <img *ngFor='let item of arr5' src='{{uploadpath}}resource/{{res.star}}' class='margin-left-5 wh20'  />
            </div>

            <div *ngIf="item.scoring==4" class='flex-row flex-center '>
              <img *ngFor='let item of arr4' src='{{uploadpath}}resource/{{res.star}}' class='margin-left-5 wh20'  />
              <img src='{{uploadpath}}resource/{{res.star_null}}' class='margin-left-5 wh20' />
            </div>

            <div *ngIf="item.scoring==3" class='flex-row flex-center '>
              <img *ngFor='let item of arr3' src='{{uploadpath}}resource/{{res.star}}' class='margin-left-5 wh20' />
              <img *ngFor='let item of arr2' src='{{uploadpath}}resource/{{res.star_null}}' class='margin-left-5 wh20'  />
            </div>

            <div *ngIf="item.scoring==2" class='flex-row flex-center '>
              <img *ngFor='let item of arr2' src='{{uploadpath}}resource/{{res.star}}' class='margin-left-5 wh20'  />
              <img *ngFor='let item of arr3' src='{{uploadpath}}resource/{{res.star_null}}' class='margin-left-5 wh20'  />
            </div>

            <div *ngIf="item.scoring==1" class='flex-row flex-center '>
              <img src='uploadpath}}resource/{{res.star}}' class='margin-left-5 wh-20'  />
              <img *ngFor='let item of arr4' src='{{uploadpath}}resource/{{res.star_null}}' class='margin-left-5 wh20'  />
            </div>


            <div class='h6 flex-1 margin-left-20 txt-primary'>{{item.people_num}}人购课</div>
          </div>

          <div class='flex-row flex-center flex-1' style=''>


            <div class='flex-row flex-center flex-1'>
              <img src='{{uploadpath}}resource/{{res.age_icon}}' class='icon-10' />
              <div class='h6  margin-left-5' style='color:#000000'>{{item.age_name}}</div>
            </div>


            <div class='flex-row flex-center flex-1'>
              <img src='{{uploadpath}}resource/{{res.keshi}}' class='icon-10' />
              <div class='h6  margin-left-5' style='color:#000000'>{{item.class_hours}}节课</div>
            </div>


            <div class='flex-row flex-center flex-1'>
              <img src='{{uploadpath}}resource/{{res.time}}' class='icon-10' />
              <div class='h6  margin-left-5' style='color:#000000'>{{item.duration}}/节</div>
            </div>

          </div>

          <div class='flex-row flex-center flex-1'>
            <img class='icon-10  ' src='{{uploadpath}}resource/{{res.jg_icon}}' />
            <div class='h6 flex-1 txt-white margin-left-5 chaochu' style='color:#AAAAAA'>{{item.JG_jigou}}</div>
            <div class=' txt-red txt-bold'>￥{{item.zuidijia}}</div>
          </div>

          <div class='flex-row flex-center'>
            <div class='h6  flex-1 chaochu' style='color:#AAAAAA'>{{item.JG_showaddress}}</div>
            <div class='h6  txt-bold ' style=' '>{{item.miletxt}}</div>
          </div>

        </div>


      </div>
    </div>



    <div class="flex-row flex-center padding-T-B-28">
      <div class="flex-1"></div>
      <img src='{{uploadpath}}resource/{{res.under_icon}} ' class='sp7 ' />

      <div class="flex-1"></div>
    </div>

    <div class="h50"></div>


  </div>







  <div class="h96"></div>

  <div style='' class='buy-block' *ngIf='trunoff==false'>

    <div class='huang_block  flex-row flex-center' [class.hidden]='true'>
      <div class='flex-1'></div>
      <div class='txt_orange h6'>等待付款，</div>
      <div class='txt_lan h6'>点击这里立即付款</div>
      <div class='flex-1'></div>
    </div>

    <div class='huang_block  flex-row flex-center' [class.hidden]='true'>
      <div class='flex-1'></div>
      <div class='txt_orange h6'>此机构课程预约已满</div>
      <div class='flex-1'></div>
    </div>

    <div class='flex-row flex-center'>
      <div class='left flex-row flex-center' >

        <div class='flex-1 flex-row flex-column' (click)='toindex()'>
          <img src='{{uploadpath}}resource/{{res.kc_shouye}}' class='icon-25' />
          <div class='h7 margin-top-8'>首页</div>
        </div>

        <div class='flex-1 flex-row flex-column'>
          <!-- <img src='{{uploadpath}}resource/{{res.tohome}}' class='icon-20' /> -->
          <img (click)='fav("Y")' id='Y' *ngIf="isfav=='N'" class='icon-25'
            src='{{uploadpath}}resource/{{res.unfav}}' />
          <img (click)='fav("N")' id='N' *ngIf="isfav=='Y'" class='icon-25'
            src='{{uploadpath}}resource/{{res.fav}}' />
          <div class='h7 margin-top-8'>收藏</div>
        </div>

        <button class='flex-1 clear-button' hover-class='bg_gray' open-type='contact' style='border-radius:0;border:0;'>
          <div class=' flex-row flex-column'>
            <img src='{{uploadpath}}resource/{{res.kc_kf}}' class='icon-25' />
            <div class='h7 margin-top-8'>客服</div>
          </div>
        </button>

      </div>
      <div class=' flex-row flex-center' *ngIf='nogroup=="Y"'>
        <div class='buybtn txt-white h5 text-center bg-cheng' id="{{jginfo.id}}" (click)='bindshowtc($event)'>
          立即购买</div>
        <div class='pingtuanbtn txt-white h5 text-center bg-hong' id="{{jginfo.id}}" (click)="bindpin($event)">
          发起拼班</div>
      </div>
      <div *ngIf='nogroup!="Y"' class='onlybuy txt-white h5 text-center bg-cheng' id="{{jginfo.id}}"
        (click)='bindshowtc($event)'>立即购买</div>

    </div>
  </div>



  </div>



  <div class='buy' *ngIf='tanchuang==true'>

    <div class="black" catchtouchmove="{{true}}"></div>

    <div class="white">
      <div class='padding-block'>

        <div class='flex-row topblock'>
          <img src='{{uploadpath}}curriculum/{{courseinfo.kc_img}}' style=' ' class='icon-img' />

          <div class=' flex-1 margin-left-20'>
            <div>{{courseinfo.name}}
          </div>

          <div class='flex-row flex-center margin-top-10' style=''>

            <div class='flex-row flex-center   '>
              <img src='{{uploadpath}}resource/{{res.age_icon}}' class='icon-10' />
              <div class='h6 txt-black margin-left-5'>{{courseinfo.age_name}}</div>
            </div>

            <div class='flex-row flex-center  margin-left-20'>
              <img src='{{uploadpath}}resource/{{res.keshi}}' class='icon-10' />
              <div class='h6 txt-black margin-left-5'>{{courseinfo.class_hours}}节课</div>
            </div>

            <div class='flex-row flex-center  margin-left-20'>
              <img src='{{uploadpath}}resource/{{res.time}}' class='icon-10' />
              <div class='h6 txt-black margin-left-5'>{{courseinfo.duration}}/节</div>
            </div>

          </div>


          <div class='margin-top-20' *ngIf='xuanzhong==0' style='color:#FF4444'>￥{{minprice}}</div>


          <div *ngIf='xuanzhong!=0'>
            <div *ngIf='pin==0'>
              <div class='margin-top-20' *ngIf='xuanzhong==1' style='color:#FF4444'>￥{{courseinfo.price}}</div>
              <div class='margin-top-20' *ngIf='xuanzhong==0' style='color:#FF4444'>￥{{courseinfo.price}}</div>
              <div class='margin-top-20' *ngIf='xuanzhong==2' style='color:#FF4444'>￥{{courseinfo.expeprice}}</div>
            </div>


            <div *ngIf='pin==1'>
              <div class='margin-top-20' *ngIf='xuanzhong==1' style='color:#FF4444'>￥{{courseinfo.isgroup}}</div>
              <div class='margin-top-20' *ngIf='xuanzhong==0' style='color:#FF4444'>￥{{courseinfo.isgroup}}</div>
              <div class='margin-top-20' *ngIf='xuanzhong==2' style='color:#FF4444'>￥{{courseinfo.isgroup_tiyan}}</div>
            </div>
          </div>



        </div>

        <div (click)='bindclose()'>
          <img src='{{uploadpath}}resource/{{res.close}}' class='icon-15' />
        </div>

      </div>

      <div style='' class='margin-top-20 sp8'></div>

      <div class="h150"></div>

      <div class="h400">


        <div>
          <div class='  h6' style='color:#666666'>课程</div>

          <div class="flex-row ">
            <div class='flex-row flex-center flex-wrap margin-top-10'>

              <div class=' text-center h6 chaochu {{buy_id==item.id?"kcname_block_check txt-white":"kcname_block"}}'
                *ngFor='let item of clist;let idx=index;'  id='{{item.id}}' data-check="Y"
                (click)='check(item.id,"Y")'>{{item.name}}</div>

            </div>

          </div>

          <div class='margin-top-10 h6' style='color:#666666'>课程规格</div>

          <div class="flex-row flex-center" *ngIf='pin==1'>
            <div *ngIf='courseinfo.isgroup>0'
              class=' text-center h6 chaochu   {{xuanzhong==1?"kcname_block_check txt-white":"kcname_block"}}'
              (click)="xuan('A')" id='A'>系列课</div>
            <div *ngIf='courseinfo.isgroup_tiyan>0'
              class=' text-center h6 chaochu {{xuanzhong==2?"kcname_block_check txt-white":"kcname_block"}}' wx:key='y'
              (click)="xuan('B')" id='B'>体验课</div>
          </div>

          <div class="flex-row flex-center" *ngIf='pin==0'>
            <div *ngIf='courseinfo.price!="0.00"'
              class=' text-center h6 chaochu   {{xuanzhong==1?"kcname_block_check txt-white":"kcname_block"}}'
              (click)="xuan('A')" id='A'>系列课</div>
            <div *ngIf='courseinfo.expeprice!="0.00"'
              class=' text-center h6 chaochu {{xuanzhong==2?"kcname_block_check txt-white":"kcname_block"}}' wx:key='y'
              (click)="xuan('B')" id='B'>体验课</div>
          </div>

      </div>

      <div class="h120"></div>

    </div>



    <div class='under'>

      <div style=" border-bottom:1px solid #f5f5f5; " class="flex-row flex-center padding-T-B-28">


        <div class="flex-1  flex-row column">
          <div class="h6  txt-6">购买数量</div>
          <div class="flex-row flex-center margin-top-8">
            <div class="txt-9 h6">剩余{{courseinfo.kucun}}个</div>
            <div class="h6 margin-left-10" style="color:#FF4444">每人限购1个体验课程，课包不限</div>
          </div>
        </div>



        <img class="sp1"
          src="{{uploadpath}}resource/{{res.jianhao}}" class="icon-15 " (click)="jian($event)" />

        <div class="h6 margin-left-40 margin-right-40">{{shuliang}}</div>

        <img class="sp1"
          src="{{uploadpath}}resource/{{res.jiahao}}" class="icon-15 margin-right-20" (click)="jia(courseinfo.kucun)"
          id="{{courseinfo.kucun}}" />

      </div>


      <div class='flex-row flex-column'>
        <div *ngIf='xuanzhong!=0' (click)='tobuy(courseinfo.id)' id='{{courseinfo.id}}' class='next text-center txt-white'>下一步</div>
        <div *ngIf='xuanzhong==0' class='next2 text-center txt-white'>下一步</div>
      </div>

    </div>


  </div>
  </div>

  </div>

</ion-content>