@function rpx($px) {
  @return ($px * 100vw) / 750;
}

/* pages/jgdetails/jgdetails.wxss */

/* Page{
  background: #83403A;
} */

.img {
  width: rpx(230);
  height: rpx(240);
}

/* .on{
    position: absolute;
    width: 100%;
    z-index: 100;
    top:30%;
  } */

/* .mid {
    position: absolute;
    width: 91vw;
    z-index: 100;
    left: 2.5vw;
    top: 33%;
    margin-top: -rpx(90);
    box-shadow: 1px 1px 5px #888;
  } */

.mid {
  /* position: absolute;
    width: 91vw;
    z-index: 100;
    left: 2.5vw;
    top: 33%; */
  position: relative;
  z-index: 10;
  width: 91vw;
  height: 44%;
  margin-top: rpx(-20);
}

.mid2 {
  position: absolute;
  width: 91vw;
  z-index: 100;
  left: 2.5vw;
  top: 33%;
  margin-top: rpx(-60);
  box-shadow: 1px 1px 5px #888;
}

.shadow {
  box-shadow: 1px 1px 10px #888;
}

.kc_icon {
  width: rpx(228);
  height: rpx(224);
}

.biaoqian {
  min-width: rpx(56);
  height: rpx(38);
  line-height: rpx(38);
  padding-left: rpx(10);
  padding-right: rpx(10);
}

.video {
  padding-left: rpx(15);
  padding-right: rpx(15);
  padding-top: rpx(15);
}

.mk {
  background-color: white;
}

.tishi {
  position: fixed;
  z-index: 100;
  top: 35%;
  right: 35%;
}

.ts_icon {
  width: rpx(240);
  height: rpx(260);
}

.kecheng-img {
  height: rpx(330);
  width: 100%;
  border-radius: rpx(8);
  /* border: rpx(1) solid black; */
  /* background: rgba(216, 216, 216, 1); */
}

.kecheng-block {
  width: rpx(330);
  background: rgba(255, 255, 255, 1);
  box-shadow: rpx(0) rpx(4) rpx(12) rpx(0) rgba(0, 0, 0, 0.1);
  border-radius: rpx(8);
  margin-left: rpx(30);
  margin-top: rpx(30);
}

.padding-12 {
  padding: rpx(12);
  padding-bottom: rpx(5);
}

.f-16 {
  font-size: rpx(16);
}

.margin-top-14 {
  margin-top: rpx(14);
}

.icon-16 {
  width: rpx(16);
  height: rpx(16);
}

.icon-20 {
  width: rpx(40);
  height: rpx(40);
}

.icon-17 {
  width: rpx(44);
  height: rpx(40);
}

.icon_jianjie {
  width: rpx(40);
  height: rpx(40);
}

.margin-left-6 {
  margin-left: rpx(6);
}

.margin-left-26 {
  margin-left: rpx(26);
}

.margin-left-10 {
  margin-left: rpx(10);
}

.margin-right-10 {
  margin-right: rpx(10);
}

.margin-top-8 {
  margin-top: rpx(8);
}

.padding-T-B-28 {
  padding-top: rpx(28);
  padding-bottom: rpx(28);
}

.margin-left-28 {
  margin-left: rpx(28);
}

.margin-top-12 {
  margin-top: rpx(12);
}

.f20 {
  font-size: rpx(20);
}

.dd {
  margin: rpx(15);
  margin-top: rpx(5);
}

.txt-red {
  color: #ff5252;
}

.xhx {
  text-decoration: line-through;
}

.xg {
  padding-right: rpx(15);
}

.margin-top-4 {
  margin-top: rpx(4);
}

.mianfei {
  font-size: rpx(24);
  color: white;
  background-color: #ffc200;
  padding: rpx(15);
  border-top-left-radius: rpx(30);
}

.yigou {
  font-size: rpx(24);
  color: white;
  background-color: #ccc;
  padding: rpx(15);
  padding-left: rpx(20);
  padding-right: rpx(20);
  border-top-left-radius: rpx(30);
}

.buy {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 500;
  width: 100vw;
}

.tanchuang {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.black_block {
  height: 50vh;
  background: black;
  opacity: 0.5;
}

.kc_block {
  height: 50vh;
  background: white;
}

.padding-block {
  padding: rpx(32) rpx(26) rpx(32) rpx(26);
  height: 55vh;
  position: relative;
}

.black {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
  z-index: 49;
}

.white {
  position: fixed;
  width: 100vw;
  height: 68vh;
  bottom: 0;
  background: white;
  z-index: 50;
}

.icon-img {
  width: rpx(160);
  height: rpx(160);
}

.kcname_block {
  min-width: rpx(188);
  height: rpx(60);
  padding-left: rpx(30);
  padding-right: rpx(30);
  line-height: rpx(60);
  background: rgba(245, 245, 245, 1);
  border-radius: rpx(8);
  margin-right: rpx(20);
  margin-top: rpx(20);
}

.kcname_block_check {
  min-width: rpx(188);
  height: rpx(60);
  padding-left: rpx(30);
  padding-right: rpx(30);
  line-height: rpx(60);
  background: #f60;
  border-radius: rpx(8);
  margin-right: rpx(20);
  margin-top: rpx(20);
}

.height-210 {
  height: rpx(220);
}

.height-100 {
  min-height: rpx(220);
}

.icon-10 {
  height: rpx(20);
  width: rpx(20);
}

.icon-13 {
  height: rpx(26);
  width: rpx(26);
}

.icon-rz {
  width: rpx(104);
  height: rpx(32);
}

.next {
  width: rpx(600);
  height: rpx(84);
  line-height: rpx(84);
  background: rgba(255, 102, 0, 1);
  border-radius: rpx(42);
}

.next2 {
  width: rpx(600);
  height: rpx(84);
  line-height: rpx(84);
  background: #cfcfcf;
  border-radius: rpx(42);
}

.under {
  position: absolute;
  background: white;
  width: 94vw;
  bottom: 0;
}

.topblock {
  // position: absolute;
  background: white;
  width: 94vw;
  top: rpx(20);
}

.head {
  position: absolute;
  background: white;
  width: 94vw;
  top: 35%;
}

.left {
  background: white;
  width: 41.3%;
  height: rpx(96);
}

.right {
  width: rpx(440);
  height: rpx(96);
  line-height: rpx(96);
}

.buybtn {
  width: rpx(220);
  height: rpx(96);
  line-height: rpx(96);
}

.onlybuy {
  width: 58.7%;
  height: rpx(96);
  line-height: rpx(96);
}

.pingtuanbtn {
  width: rpx(220);
  height: rpx(96);
  line-height: rpx(96);
}

.bg-cheng {
  background: #f60;
}

.bg-hong {
  background: #f44;
}

.null_bgcheng {
  background: #ffa86e;
}

.null_bghong {
  background: #ffa2a4;
}

.buy-block {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  width: 100vw;
}

.di {
  position: fixed;
  z-index: 8;
  bottom: 0;
  top: 0;
  width: 100vw;
  overflow: hidden;
}

.huang_block {
  width: 100vw;
  height: rpx(76);
  /* line-height: rpx(76); */
  background: rgba(255, 250, 207, 1);
}

.txt_orange {
  color: #ff976a;
}

.txt_lan {
  color: #2a82e4;
}

.margin-left-52 {
  margin-left: rpx(52);
}

.more {
  width: rpx(300);
  height: rpx(84);
  line-height: rpx(84);
  background: rgba(255, 194, 0, 1);
  border-radius: rpx(42);
}

.starbox {
  width: rpx(120);
  height: rpx(24);
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.stars1 {
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  overflow: hidden;
}

.hiddenblock {
  position: absolute;
  z-index: 12;
  background: white;
  float: left;
  height: rpx(30);
  top: 0;
  right: 0;
}

.stars_2 {
  z-index: 10;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.icon-star {
  height: rpx(24);
  width: rpx(24);
  float: left;
}

.ims {
  float: left;
  /* white-space: nowrap; */
}


.h160 {
  height: rpx(160);
}

.h400 {
  height: rpx(400);
}

.h120 {
  height: rpx(120);
}

.h150 {
  width: rpx(150);
}

.h10 {
  width: rpx(10);
}

.w150 {
  width: rpx(150);
}

.sp1 {
  border: rpx(2) solid #F5F5F5;
  padding: rpx(6);
  border-radius: rpx(4);
}

.sp2 {
  width: rpx(750);
  height: rpx(444);
}

.mt24 {
  margin-top: rpx(24)
}

.sp5 {
  width: 100%;
  height: rpx(300);
  z-index: 1;
}

.mt-30 {
  margin-top: -rpx(30);
}

.sp6 {
  padding: rpx(20) rpx(40) rpx(40) rpx(40);
}

.wh30 {
  height: rpx(20);
  width: rpx(20);
}

.sp7 {
  width: rpx(150);
  height: rpx(60);
  margin-bottom: -rpx(10);
}

.h50 {
  height: rpx(50);
}

.h96 {
  height: rpx(96);
}

.sp8 {
  height: 1px;
  width: rpx(720);
  background: #F5F5F5;
}

.wh20{
   width: rpx(20);
   height: rpx(20);
}