@function rpx($px) {
    @return ($px * 100vw) / 750;
}

/* pages/hexiao/hexiao.wxss */




/* pages/order/order.wxss */
Page{
    background: #f5f5f5;
  }
  
  .bor_bot{
    border-bottom:1px solid #e5e5e5
  }
  .bor_top{
    border-top:1px solid #e5e5e5
  }
  .pd{
    padding-top: rpx(20);
    padding-right: 20rxp;
    padding-bottom: rpx(20);
    padding-left:rpx(10);
  }