@function rpx($px) {
  @return ($px * 100vw) / 750;
}


.top_bg{
height: rpx(136);
background: #FEF4F2;

}
.cs2{
width: rpx(250);
}
.qrcode{

width: rpx(160);
height: rpx(160);

margin-top:rpx(-10);

}
  .db{
      position: fixed;
      bottom: 0;
      width: 100vw;
      
      background: white;
    }
.kcimg{

width: rpx(224);
height: rpx(224);
border-radius: rpx(8);
margin-left: 30%;
margin-top: 35%;
}
.changdu{
  width:rpx(280);
}
.member_icon {
width: rpx(95);
height: rpx(95);
border-radius: 50%;
margin-left:rpx(35);
}
.hb{
height: rpx(960);
width: rpx(570);
z-index: 20;
}
.anniu{
width:rpx( 300);
height:rpx(84);
background: #FFFFFF;
border-radius: rpx(40);
}
.wenan{
background: #FFFFFF;
border-radius: rpx(10);
}
.xian{
  height: rpx(1);
  width: 95%;
  background: #f4f4f4;
}