<ion-header>
    <ion-toolbar color='primary'>
      <ion-buttons slot="start">
        <ion-button (click)='back()'>
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{InstInfo.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
    <div class="top_bg">
      <div class="padding-20">
  
        <div class="f-26" style="color:#F5555D">重要提示：</div>
        <div class="f-26 margin-top-10" style="color:#F5555D">推广海报带有分销商城锁粉功能，用户终身绑定！</div>
      </div>
  
    </div>
    <div style="background-size:100% 100%;"
    [style.background-image]="'url('+uploadpath+'resource/'+res.kchaibaobeijin +')'">
    <div class="height-20"></div>
    <div class="flex-row flex-center">

      <div class="flex-1"></div>

      <div style="background-size:100% 100%;"
        [style.background-image]="'url('+haibao+')'" class="hb">

        <!-- <div class="flex-row margin-20 flex-center">
          <img src="{{MemberInfo.avatarUrl}}" class='member_icon'>
          <div>
            <div class='margin-left-10 chaochu'>{{MemberInfo.nickName}}</div>
          
          </div>
        </div>

        <img src="{{uploadpath}}onlineclassroom/{{kcinfo.img}}" class='kcimg'>
        <div class="text-center h4">{{kcinfo.name}}</div>

        <div class='flex-row flex-center  margin-top-20' style=''>


        
          <div class='flex-row flex-center ' style="margin-left: 20%;">
            <img src='{{uploadpath}}resource/{{res.nianlin}}' class='icon-10' />
            <div class='h6 txt-black margin-left-5'>{{kcinfo.age_name}}</div>
          </div>

          <div class='flex-row flex-center ' style="margin-left: 20%;">
            <img src='{{uploadpath}}resource/{{res.zhanjie}}' class='icon-10' />
            <div class='h6 txt-black margin-left-5'>全集{{kcinfo.chapter_num}}集</div>
          </div>
  
        
  
  
        
  
  
        </div>
        <div style="margin-left: 12%;margin-top: 12%;" class="flex-row">

          <div class="changdu">
        
       
        <div class="  margin-top-10 h5">长按识别二维码</div>
        <div class="   h5">开始上课>>>></div>
      </div>
      <img src="{{qrcode}}" class='qrcode'>
      </div> -->
      </div>

      <div class="flex-1"></div>

    </div>
    <div class="height-20"></div>

    <div class="flex-row flex-center">

      <div class="flex-1"></div>

      <div class="flex-row flex-center anniu">
        <img class="icon-25 margin-left-20" src="{{uploadpath}}resource/{{res.baocunhaibao}}" />
        <div class="f13 margin-left-10">保存图片到本地</div>
      </div>
      <div  (click)="ceshi()" class="flex-row flex-center anniu margin-left-20">
        <img class="icon-25 margin-left-20" src="{{uploadpath}}resource/{{res.fenxianpyq}}" />
        <div class="f13 margin-left-10">分享到朋友圈</div>

      </div>
      <div class="flex-1"></div>
    </div>
    <div class="height-50"></div>
    <div class="margin-20 wenan">
      <div class="padding-20 flex-row flex-center">
        <div class="h5">推广文案</div>
        <div class="flex-1"></div>
        <div class="f-26"   style="color:#FF6600">保存图片或分享朋友圈即自动复制文案</div>

      </div>
      <div class="flex-row ">
        <div class="flex-1"></div>
        <div class="xian"></div>
        <div class="flex-1"></div>
      </div>
      <div class="padding-20" style="white-space: pre-wrap">
          
        
        <div [innerHTML]="neiron" class="h6" style="color:#999999"></div>
      


      </div>
    </div>
    <div class="height-100"></div>
  </div>
  </ion-content>
