<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding-20">

    <div class="h3">忘记密码</div>

    <div class="shouji flex-row flex-center">


      <div class="margin-left-20 h5">+86</div>
      <div class="margin-left-20 " style="height:27px;width: 1px;background: #979797;"></div>
      <ion-input [(ngModel)]="shoujihao" inputmode="tel" maxlength="11" placeholder="手机号"
        placeholder-style="color:#C8C8C8;margin-left-20" class="flex-1 margin-left-20 shuruk"></ion-input>
    </div>

    <div class=" flex-row flex-center" style="margin-top:32px">

      <div class="yanzhenma flex-row flex-center">

        <ion-input [(ngModel)]="yanzhenma" placeholder="验证码" placeholder-style="color:#C8C8C8;margin-left-20"
          class="flex-1 margin-left-40 shuruk"></ion-input>

      </div>
      <div class="huoquyanzhenma1" *ngIf="reminder>0">{{reminder}}s</div>
      <div  (click)="sendVerifyCode()" class="huoquyanzhenma1" *ngIf="reminder<0">重新发送</div>
      <div  (click)="sendVerifyCode()" *ngIf="!diyici" class="huoquyanzhenma">获取验证码</div>

    </div>

    <div (click)="zhuce()" class="zhuce">立即验证</div>
 

  </div>

  <!-- <div class="bottom ">

    <div class="flex-row flex-center" style="width:100vw">
      <div class="flex-1"></div>
      <div class="h5" style="color:#000000">已经有账号？</div>
      <div class="h5" style="color:#37CFC9">登录</div>
      <div class="flex-1"></div>
    </div>
  </div> -->

</ion-content>