<ion-header>
      <ion-toolbar  color='primary'>
          <ion-buttons slot="start">
            <ion-button (click)='back()'>
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>推广海报</ion-title>
        </ion-toolbar>
  </ion-header>

    <ion-content >


        <div style="width:100vw;height:100vh;background:url({{uploadpath}}resource/{{res.kchaibao}});background-size: 100vw 100vh;">
          <div class="flex-row tx flex-center">
            <div class="flex-1"></div>
            <div class="flex-row flex-column">
              <img class="icon-60 radius-50 " src="{{MemberInfo.avatarUrl}}" />
              <div class="text-center h5 margin-top-10">{{MemberInfo.nickName}}邀请您一起学习</div>
               <div class="text-center h4 margin-top-20 chaochu w500" >{{kcinfo.name}}</div>
                 <img  class="sp " src="{{uploadpath}}mechanism/{{kcinfo.JG_jg_img}}" />
            </div>
            <div class="flex-1"></div>
          </div>
        
        
         <div class="flex-row ewm flex-center">
            <div class="flex-1"></div>
            <div class="flex-row flex-column">
               <img class="icon-75 radius-50 " src="{{erweima}}" />
              <div class="text-center h6 margin-top-20 " style="color:#999999">来自 {{kcinfo.JG_jigou}}</div>
            </div>
            <div class="flex-1"></div>
          </div>
         
        
        
          <div class="flex-row fd">
            <div class="flex-1"></div>
            <div class="anniu  flex-row flex-center" (click)="baocun()">
             <img class="icon-15" mode="widthFix" src="{{uploadpath}}resource/{{res.xiazai}}" />
            <div class="zi margin-left-10">保存海报</div>
            </div>
            <div class="flex-1"></div>
        
              <button class="anniu clear-button flex-row flex-center" open-type='share' >
             <img class="icon-15" mode="widthFix" src="{{uploadpath}}resource/{{res.yaoqin_zhuanfa}}" />
            <div class="zi margin-left-10">发给好友</div>
            </button>
            <div class="flex-1"></div>
          </div>
        </div>

    </ion-content>
