<ion-header>
      <ion-toolbar  color='primary'>
          <ion-buttons slot="start">
            <ion-button (click)='back()'>
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{heading}}</ion-title>
        </ion-toolbar>
  </ion-header>

    <ion-content >


<!--pages/pingjiawanchen/pingjiawanchen.wxml-->
<img class="backhome" src="{{uploadpath}}resource/{{res.fanhui}}" (click)="backHome()" />

<div class='bg-top'>
  <div class='height-50'></div>

  <div class='flex-row flex-center margin-left-46'>
    <img src='{{uploadpath}}resource/{{res.goumaiwanchen}}' class='icon-80' />
    <div class='flex-row column margin-left-28'>
      <div class=''>评论成功，获得10积分</div>
      <div class='h5  margin-top-4'>您的评价是其他用户选购前的重要参考</div>
    </div>
  </div>

  

  <div class='height-50'></div>

 <div class='flex-row flex-center'>
    <div class='flex-1'></div>

    <div  class='flex-row flex-center btn ' (click)='tohome($event)'>
      <div class='flex-1'></div>
      <img src='{{uploadpath}}resource/{{res.kc_shouyebai}}' class='icon-34' />
      <div class='txt-white h5 margin-left-18'>返回首页</div>
      <div class='flex-1'></div>
    </div>

    <div class="w24"></div>

    <div (click)="pinjiagenduo($event)" class='flex-row flex-center btn '>
      <div class='flex-1'></div>
      <img src='{{uploadpath}}resource/{{res.pinjiagenduo}}' class='icon-34' />
      <div   class='txt-white h5 margin-left-18'>评价更多订单</div>
      <div class='flex-1'></div>
    </div>

    <div class='flex-1'></div>

  </div>

  <div class='height-74'></div>

</div>

<div class='height-50'></div>

<div class='flex-row flex-column'>
  <div class='txt9'>小贴士</div>
  <div class='txt9 h5 margin-top-4'>坚持写真实、内容丰富的评价，积分会更多哦！</div>
  <div class='height-78'></div>
  <img src='{{uploadpath}}resource/{{res.yipinjiaimg}}'  mode='widthFix' class='btmimg' />
</div>

    </ion-content>
