@function rpx($px) {
    @return ($px * 100vw) / 750;
}

/* pages/lianxikefu/lianxikefu.wxss */
Page{
    background: #F5F6F8;
  }
  .weixin {
    width: rpx(702);
    height: rpx(224);
    margin: rpx(24);
    background: rgba(255, 255, 255, 1);
    border-radius: rpx(8);
  }
  .icon-42{
    width: rpx(98);
    height: rpx(88);
  }
   .icon-50{
    width: rpx(94);
    height: rpx(94);
  }
   
  .icon-right{
    width:rpx(12);
  height:rpx(20);
  }

  .ml84{
    margin-left:rpx(84)
  }

  .ml50{
    margin-left:rpx(50)
  }

  .mr48{
    margin-right:rpx(48);
  }

  .marginTop{
    margin-top:rpx(20)
  }
  .margin-Top{
    margin-top:rpx(-30)
  }
  .marginLeft{
    margin-left:rpx(-30)
  }
  .margin-Left{
    margin-left:rpx(-20)
  }
  .mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 10;
  }
  .erwei {
    width: 80%;
    // height: 90%;
    // background: #ffffff;
    position: fixed;
    top: 10%;
    left: 10%;
    z-index: 9999;
  }
  