
@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
  ion-content{
    --background:#F5F6F8;
    }
  .kecheng1{
    width:94vw;
    margin-left:3vw;
    margin-top:rpx(20);
  }
.sx{
    width: 100vw;
    height: rpx(80);
    padding:rpx(20);
   
  }
  .kc_icon {
    width: rpx(228);
    height: rpx(224);
  }
  .xz{
    color:#FFC200;
  }
  .hqhb{
    height: rpx(52);
    width: rpx(160);
    background: #FF6600;
    color:#FFFFFF;
    line-height: rpx(52);
    text-align: center;
    font-size: rpx(24);
    border-radius: rpx(40);
   
   
   }