<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>搜索</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!--pages/searchword/searchword.wxml-->
  <img class="backhome" src="{{uploadpath}}resource/{{res.fanhui}}" (click)="backHome()" />
  <div class=' to_top'>
    <img src='{{uploadpath}}resource/{{res.totop}}' class='icon-50' (click)='backtotop($event)' />
  </div>
  <div class='Top padding-20 flex-row flex-center ' style="background:#FFC200" id='dinbu'>
    <div class='search flex-row flex-center padding-5 '>
      <div class="w20"></div>
      <img class='search_icon' src='{{uploadpath}}resource/{{res.search_icon}}' />
      <input class='h6 flex-1 txt-black padding-left-5 inp' bindconfirm='bindconfirm' confirm-type='search' focus='true'
        placeholder='搜索您要找的机构、课程' [(ngModel)]='searchword' (keyup)='search($event)' />

      <div class='padding-left-20 padding-right-10' >
        <img class='prohibit_icon ' src='{{uploadpath}}resource/{{res.prohibit}}' />
      </div>
    </div>

    <div class='text-right flex-1 h5 txt-white' style=''  (click)='quxiao()'>取消</div>
  </div>
  <div (click)='todetails(item.name)' class='h5 padding-20 margin-left-40 flex-row flex-center' id='{{item.name}}'
    *ngFor="let item of result;let idx=index;" >
    <div>{{item.name}}
  </div>
  <div class='h6 txt-red margin-left-20'></div>
  </div>

  <div *ngIf="result.length==0">


    <div *ngIf="hotest.length>0">
      <div class="bg-white">
        <div class='keywordtitle txt-9'>热门搜索</div>
        <div class='flex-row pl30' style='flex-wrap: wrap;'>
          <div *ngFor="let item of hotest;" wx:key="k" class='keyword' id="{{item.keyword}}" (click)='todetails(item.keyword)'>
            {{item.keyword}}</div>
        </div>
        <div class="h40"></div>
      </div>
    </div>


    <div *ngIf="history.length>0">

      <div class="bg-white mt12 " style=''>
        <div class='flex-row flex-center'>
          <div class='keywordtitle flex-1 txt-9'>历史搜索</div>
          <img src='{{uploadpath}}resource/{{res.clear}}' class='icon' (click)='clearrecord()' />
          <div class="w40"></div>
        </div>

        <div class='sp2 ' style=''>
          <div *ngFor="let item of history;" wx:key="k" class='' id="{{item.keyword}}" (click)='todetails(item.keyword)'>
            <div style="height:2px;background:#F5F5F5"></div>
            <div class="h6 sp1" style="">{{item.keyword}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>