@function rpx($px) {
  @return ($px * 100vw) / 750;
}

/* pages/searchword/searchword.wxss */

/* pages/search/search.wxss */



.icon {
  height: rpx(30);
  width: rpx(30);
}


.keywordtitle {
  font-size: rpx(28);
  padding: rpx(20);
}

.keyword {
  background: #F9FAFB;
  font-size: rpx(24);
  border-radius: rpx(35);
  padding-top: rpx(10);
  padding-bottom: rpx(10);
  padding-left: rpx(20);
  padding-right: rpx(20);
  margin-top: rpx(20);
  margin-right: rpx(14);
}

.title {
  height: rpx(86);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.cover {
  margin-right: rpx(30);
  width: rpx(200);
  height: rpx(156);
  border-radius: rpx(6);
}

ion-content {
  --background: #f5f5f5;
}

.search {
  width: rpx(620);
  border-radius: rpx(50);
  background-color: rgb(240, 240, 240);
}
.inp {
  border: none;
  background-color: rgb(240, 240, 240);
  outline:medium;
}
.inp:hover{
  appearance: none;
}
.search_icon {
  width: rpx(35);
  height: rpx(30);
}

.prohibit_icon {
  height: rpx(30);
  width: rpx(30);
}

.shadow {
  box-shadow: 1px 1px 5px #d1d1d1;
}

.kc_icon {
  width: rpx(228);
  height: rpx(224);
}

.kecheng {
  margin-left: rpx(20);
  margin-right: rpx(20);
  margin-top: rpx(20);
  /* margin-bottom: rpx(4); */
}

.address {}

.img {
  width: rpx(220);
  height: rpx(252);
}

.mid {
  position: absolute;
  width: 85.5%;
  z-index: 10;
  height: rpx(186);
  bottom: 0%;
  /* opacity: 0.8; */
  box-shadow: 1px 1px 5px #dfdfdf;
}

.org_block {
  padding-left: rpx(5);
  padding-right: rpx(15);
  padding-top: rpx(6);
  padding-bottom: rpx(6);
}

.title {
  position: absolute;
  width: 50%;
  top: rpx(24);
  left: rpx(32);
  z-index: 10;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w20 {
  width: rpx(20);
}

.pl30 {
  padding-left: rpx(30);
}

.h40 {
  height: rpx(40)
}

.w40 {
  width: rpx(40);
}

.mt12 {
  margin-top: rpx(12);
}

.sp1 {
  padding-top: rpx(24);
  padding-bottom: rpx(24)
}

.sp2 {
  padding-left: rpx(30);
  padding-right: rpx(30);
}